/* SCSS compiled with Compass
 * This file defines custom screen styles. */
/* ---------------------------------------------------------------------------------------------------
 * BEGIN COMPASS PLUGIN IMPORT */
@font-face {
  font-family: "Gotham";
  font-weight: 100;
  src: url("../font/gotham/gotham-thin.eot");
  src: url("../font/gotham/gotham-thin.eot?#iefix") format("embedded-opentype"), url("../font/gotham/gotham-thin.woff") format("woff"), url("../font/gotham/gotham-thin.ttf") format("truetype"), url("../font/gotham/gotham-thin.svg#gotham-thin") format("svg");
}
@font-face {
  font-family: "Gotham";
  font-weight: 100;
  font-style: italic;
  src: url("../font/gotham/gotham-thinitalic.eot");
  src: url("../font/gotham/gotham-thinitalic.eot?#iefix") format("embedded-opentype"), url("../font/gotham/gotham-thinitalic.woff") format("woff"), url("../font/gotham/gotham-thinitalic.ttf") format("truetype"), url("../font/gotham/gotham-thinitalic.svg#gotham-thinitalic") format("svg");
}
@font-face {
  font-family: "Gotham";
  font-weight: 200;
  src: url("../font/gotham/gotham-extralight.eot");
  src: url("../font/gotham/gotham-extralight.eot?#iefix") format("embedded-opentype"), url("../font/gotham/gotham-extralight.woff") format("woff"), url("../font/gotham/gotham-extralight.ttf") format("truetype"), url("../font/gotham/gotham-extralight.svg#gotham-extralight") format("svg");
}
@font-face {
  font-family: "Gotham";
  font-weight: 200;
  font-style: italic;
  src: url("../font/gotham/gotham-extralightitalic.eot");
  src: url("../font/gotham/gotham-extralightitalic.eot?#iefix") format("embedded-opentype"), url("../font/gotham/gotham-extralightitalic.woff") format("woff"), url("../font/gotham/gotham-extralightitalic.ttf") format("truetype"), url("../font/gotham/gotham-extralightitalic.svg#gotham-extralightitalic") format("svg");
}
@font-face {
  font-family: "Gotham";
  font-weight: 300;
  src: url("../font/gotham/gotham-light.eot");
  src: url("../font/gotham/gotham-light.eot?#iefix") format("embedded-opentype"), url("../font/gotham/gotham-light.woff") format("woff"), url("../font/gotham/gotham-light.ttf") format("truetype"), url("../font/gotham/gotham-light.svg#gotham-light") format("svg");
}
@font-face {
  font-family: "Gotham";
  font-weight: 300;
  font-style: italic;
  src: url("../font/gotham/gotham-lightitalic.eot");
  src: url("../font/gotham/gotham-lightitalic.eot?#iefix") format("embedded-opentype"), url("../font/gotham/gotham-lightitalic.woff") format("woff"), url("../font/gotham/gotham-lightitalic.ttf") format("truetype"), url("../font/gotham/gotham-lightitalic.svg#gotham-lightitalic") format("svg");
}
@font-face {
  font-family: "Gotham";
  font-weight: 400;
  src: url("../font/gotham/gotham-book.eot");
  src: url("../font/gotham/gotham-book.eot?#iefix") format("embedded-opentype"), url("../font/gotham/gotham-book.woff") format("woff"), url("../font/gotham/gotham-book.ttf") format("truetype"), url("../font/gotham/gotham-book.svg#gotham-book") format("svg");
}
@font-face {
  font-family: "Gotham";
  font-weight: 400;
  font-style: italic;
  src: url("../font/gotham/gotham-bookitalic.eot");
  src: url("../font/gotham/gotham-bookitalic.eot?#iefix") format("embedded-opentype"), url("../font/gotham/gotham-bookitalic.woff") format("woff"), url("../font/gotham/gotham-bookitalic.ttf") format("truetype"), url("../font/gotham/gotham-bookitalic.svg#gotham-bookitalic") format("svg");
}
@font-face {
  font-family: "Gotham";
  font-weight: 600;
  src: url("../font/gotham/gotham-medium.eot");
  src: url("../font/gotham/gotham-medium.eot?#iefix") format("embedded-opentype"), url("../font/gotham/gotham-medium.woff") format("woff"), url("../font/gotham/gotham-medium.ttf") format("truetype"), url("../font/gotham/gotham-medium.svg#gotham-medium") format("svg");
}
@font-face {
  font-family: "Gotham";
  font-weight: 600;
  font-style: italic;
  src: url("../font/gotham/gotham-mediumitalic.eot");
  src: url("../font/gotham/gotham-mediumitalic.eot?#iefix") format("embedded-opentype"), url("../font/gotham/gotham-mediumitalic.woff") format("woff"), url("../font/gotham/gotham-mediumitalic.ttf") format("truetype"), url("../font/gotham/gotham-mediumitalic.svg#gotham-mediumitalic") format("svg");
}
@font-face {
  font-family: "Gotham";
  font-weight: 700;
  src: url("../font/gotham/gotham-bold.eot");
  src: url("../font/gotham/gotham-bold.eot?#iefix") format("embedded-opentype"), url("../font/gotham/gotham-bold.woff") format("woff"), url("../font/gotham/gotham-bold.ttf") format("truetype"), url("../font/gotham/gotham-bold.svg#gotham-bold") format("svg");
}
@font-face {
  font-family: "Gotham";
  font-weight: 700;
  font-style: italic;
  src: url("../font/gotham/gotham-bolditalic.eot");
  src: url("../font/gotham/gotham-bolditalic.eot?#iefix") format("embedded-opentype"), url("../font/gotham/gotham-bolditalic.woff") format("woff"), url("../font/gotham/gotham-bolditalic.ttf") format("truetype"), url("../font/gotham/gotham-bolditalic.svg#gotham-bolditalic") format("svg");
}
@font-face {
  font-family: "Gotham";
  font-weight: 800;
  src: url("../font/gotham/gotham-black.eot");
  src: url("../font/gotham/gotham-black.eot?#iefix") format("embedded-opentype"), url("../font/gotham/gotham-black.woff") format("woff"), url("../font/gotham/gotham-black.ttf") format("truetype"), url("../font/gotham/gotham-black.svg#gotham-black") format("svg");
}
@font-face {
  font-family: "Gotham";
  font-weight: 800;
  font-style: italic;
  src: url("../font/gotham/gotham-blackitalic.eot");
  src: url("../font/gotham/gotham-blackitalic.eot?#iefix") format("embedded-opentype"), url("../font/gotham/gotham-blackitalic.woff") format("woff"), url("../font/gotham/gotham-blackitalic.ttf") format("truetype"), url("../font/gotham/gotham-blackitalic.svg#gotham-blackitalic") format("svg");
}
@font-face {
  font-family: "Gotham";
  font-weight: 900;
  src: url("../font/gotham/gotham-ultra.eot");
  src: url("../font/gotham/gotham-ultra.eot?#iefix") format("embedded-opentype"), url("../font/gotham/gotham-ultra.woff") format("woff"), url("../font/gotham/gotham-ultra.ttf") format("truetype"), url("../font/gotham/gotham-ultra.svg#gotham-ultra") format("svg");
}
@font-face {
  font-family: "Gotham";
  font-weight: 900;
  font-style: italic;
  src: url("../font/gotham/gotham-ultraitalic.eot");
  src: url("../font/gotham/gotham-ultraitalic.eot?#iefix") format("embedded-opentype"), url("../font/gotham/gotham-ultraitalic.woff") format("woff"), url("../font/gotham/gotham-ultraitalic.ttf") format("truetype"), url("../font/gotham/gotham-ultraitalic.svg#gotham-ultraitalic") format("svg");
}
@font-face {
  font-family: "SourceSansPro";
  font-weight: 200;
  src: url("../font/source-sans-pro/sourcesanspro-extralight.eot");
  src: url("../font/source-sans-pro/sourcesanspro-extralight.eot?#iefix") format("embedded-opentype"), url("../font/source-sans-pro/sourcesanspro-extralight.woff") format("woff"), url("../font/source-sans-pro/sourcesanspro-extralight.ttf") format("truetype"), url("../font/source-sans-pro/sourcesanspro-extralight.svg#sourcesanspro-extralight") format("svg");
}
@font-face {
  font-family: "SourceSansPro";
  font-weight: 200;
  font-style: italic;
  src: url("../font/source-sans-pro/sourcesanspro-extralightitalic.eot");
  src: url("../font/source-sans-pro/sourcesanspro-extralightitalic.eot?#iefix") format("embedded-opentype"), url("../font/source-sans-pro/sourcesanspro-extralightitalic.woff") format("woff"), url("../font/source-sans-pro/sourcesanspro-extralightitalic.ttf") format("truetype"), url("../font/source-sans-pro/sourcesanspro-extralightitalic.svg#sourcesanspro-extralightitalic") format("svg");
}
@font-face {
  font-family: "SourceSansPro";
  font-weight: 300;
  src: url("../font/source-sans-pro/sourcesanspro-light.eot");
  src: url("../font/source-sans-pro/sourcesanspro-light.eot?#iefix") format("embedded-opentype"), url("../font/source-sans-pro/sourcesanspro-light.woff") format("woff"), url("../font/source-sans-pro/sourcesanspro-light.ttf") format("truetype"), url("../font/source-sans-pro/sourcesanspro-light.svg#sourcesanspro-light") format("svg");
}
@font-face {
  font-family: "SourceSansPro";
  font-weight: 300;
  font-style: italic;
  src: url("../font/source-sans-pro/sourcesanspro-lightitalic.eot");
  src: url("../font/source-sans-pro/sourcesanspro-lightitalic.eot?#iefix") format("embedded-opentype"), url("../font/source-sans-pro/sourcesanspro-lightitalic.woff") format("woff"), url("../font/source-sans-pro/sourcesanspro-lightitalic.ttf") format("truetype"), url("../font/source-sans-pro/sourcesanspro-lightitalic.svg#sourcesanspro-lightitalic") format("svg");
}
@font-face {
  font-family: "SourceSansPro";
  font-weight: 400;
  src: url("../font/source-sans-pro/sourcesanspro-regular.eot");
  src: url("../font/source-sans-pro/sourcesanspro-regular.eot?#iefix") format("embedded-opentype"), url("../font/source-sans-pro/sourcesanspro-regular.woff") format("woff"), url("../font/source-sans-pro/sourcesanspro-regular.ttf") format("truetype"), url("../font/source-sans-pro/sourcesanspro-regular.svg#sourcesanspro-regular") format("svg");
}
@font-face {
  font-family: "SourceSansPro";
  font-weight: 400;
  font-style: italic;
  src: url("../font/source-sans-pro/sourcesanspro-regularitalic.eot");
  src: url("../font/source-sans-pro/sourcesanspro-regularitalic.eot?#iefix") format("embedded-opentype"), url("../font/source-sans-pro/sourcesanspro-regularitalic.woff") format("woff"), url("../font/source-sans-pro/sourcesanspro-regularitalic.ttf") format("truetype"), url("../font/source-sans-pro/sourcesanspro-regularitalic.svg#sourcesanspro-regularitalic") format("svg");
}
@font-face {
  font-family: "SourceSansPro";
  font-weight: 600;
  src: url("../font/source-sans-pro/sourcesanspro-semibold.eot");
  src: url("../font/source-sans-pro/sourcesanspro-semibold.eot?#iefix") format("embedded-opentype"), url("../font/source-sans-pro/sourcesanspro-semibold.woff") format("woff"), url("../font/source-sans-pro/sourcesanspro-semibold.ttf") format("truetype"), url("../font/source-sans-pro/sourcesanspro-semibold.svg#sourcesanspro-semibold") format("svg");
}
@font-face {
  font-family: "SourceSansPro";
  font-weight: 600;
  font-style: italic;
  src: url("../font/source-sans-pro/sourcesanspro-semibolditalic.eot");
  src: url("../font/source-sans-pro/sourcesanspro-semibolditalic.eot?#iefix") format("embedded-opentype"), url("../font/source-sans-pro/sourcesanspro-semibolditalic.woff") format("woff"), url("../font/source-sans-pro/sourcesanspro-semibolditalic.ttf") format("truetype"), url("../font/source-sans-pro/sourcesanspro-semibolditalic.svg#sourcesanspro-semibolditalic") format("svg");
}
@font-face {
  font-family: "SourceSansPro";
  font-weight: 700;
  src: url("../font/source-sans-pro/sourcesanspro-bold.eot");
  src: url("../font/source-sans-pro/sourcesanspro-bold.eot?#iefix") format("embedded-opentype"), url("../font/source-sans-pro/sourcesanspro-bold.woff") format("woff"), url("../font/source-sans-pro/sourcesanspro-bold.ttf") format("truetype"), url("../font/source-sans-pro/sourcesanspro-bold.svg#sourcesanspro-bold") format("svg");
}
@font-face {
  font-family: "SourceSansPro";
  font-weight: 700;
  font-style: italic;
  src: url("../font/source-sans-pro/sourcesanspro-bolditalic.eot");
  src: url("../font/source-sans-pro/sourcesanspro-bolditalic.eot?#iefix") format("embedded-opentype"), url("../font/source-sans-pro/sourcesanspro-bolditalic.woff") format("woff"), url("../font/source-sans-pro/sourcesanspro-bolditalic.ttf") format("truetype"), url("../font/source-sans-pro/sourcesanspro-bolditalic.svg#sourcesanspro-bolditalic") format("svg");
}
@font-face {
  font-family: "SourceSansPro";
  font-weight: 900;
  src: url("../font/source-sans-pro/sourcesanspro-black.eot");
  src: url("../font/source-sans-pro/sourcesanspro-black.eot?#iefix") format("embedded-opentype"), url("../font/source-sans-pro/sourcesanspro-black.woff") format("woff"), url("../font/source-sans-pro/sourcesanspro-black.ttf") format("truetype"), url("../font/source-sans-pro/sourcesanspro-black.svg#sourcesanspro-black") format("svg");
}
@font-face {
  font-family: "SourceSansPro";
  font-weight: 900;
  font-style: italic;
  src: url("../font/source-sans-pro/sourcesanspro-blackitalic.eot");
  src: url("../font/source-sans-pro/sourcesanspro-blackitalic.eot?#iefix") format("embedded-opentype"), url("../font/source-sans-pro/sourcesanspro-blackitalic.woff") format("woff"), url("../font/source-sans-pro/sourcesanspro-blackitalic.ttf") format("truetype"), url("../font/source-sans-pro/sourcesanspro-blackitalic.svg#sourcesanspro-blackitalic") format("svg");
}
@font-face {
  font-family: "Heuristica";
  font-weight: 400;
  src: url("../font/heuristica/heuristica-regular.eot");
  src: url("../font/heuristica/heuristica-regular.eot?#iefix") format("embedded-opentype"), url("../font/heuristica/heuristica-regular.woff") format("woff"), url("../font/heuristica/heuristica-regular.ttf") format("truetype"), url("../font/heuristica/heuristica-regular.svg#heuristica-regular") format("svg");
}
@font-face {
  font-family: "Heuristica";
  font-weight: 400;
  font-style: italic;
  src: url("../font/heuristica/heuristica-regularitalic.eot");
  src: url("../font/heuristica/heuristica-regularitalic.eot?#iefix") format("embedded-opentype"), url("../font/heuristica/heuristica-regularitalic.woff") format("woff"), url("../font/heuristica/heuristica-regularitalic.ttf") format("truetype"), url("../font/heuristica/heuristica-regularitalic.svg#heuristica-regularitalic") format("svg");
}
@font-face {
  font-family: "Heuristica";
  font-weight: 700;
  src: url("../font/heuristica/heuristica-bold.eot");
  src: url("../font/heuristica/heuristica-bold.eot?#iefix") format("embedded-opentype"), url("../font/heuristica/heuristica-bold.woff") format("woff"), url("../font/heuristica/heuristica-bold.ttf") format("truetype"), url("../font/heuristica/heuristica-bold.svg#heuristica-bold") format("svg");
}
@font-face {
  font-family: "Heuristica";
  font-weight: 700;
  font-style: italic;
  src: url("../font/heuristica/heuristica-bolditalic.eot");
  src: url("../font/heuristica/heuristica-bolditalic.eot?#iefix") format("embedded-opentype"), url("../font/heuristica/heuristica-bolditalic.woff") format("woff"), url("../font/heuristica/heuristica-bolditalic.ttf") format("truetype"), url("../font/heuristica/heuristica-bolditalic.svg#heuristica-bolditalic") format("svg");
}
@font-face {
  font-family: "FontCustom";
  font-weight: 400;
  src: url("../font/font-custom/fontcustom.eot");
  src: url("../font/font-custom/fontcustom.eot?#iefix") format("embedded-opentype"), url("../font/font-custom/fontcustom.woff") format("woff"), url("../font/font-custom/fontcustom.ttf") format("truetype"), url("../font/font-custom/fontcustom.svg#fontcustom") format("svg");
}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/*! normalize.css v3.0.0 | HTML5 Display Definitions | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

/*! normalize.css v3.0.0 | Base | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

/*! normalize.css v3.0.0 | Links | MIT License | git.io/normalize */
a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

/*! normalize.css v3.0.0 | Typography | MIT License | git.io/normalize */
abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/*! normalize.css v3.0.0 | Embedded Content | MIT License | git.io/normalize */
img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

/*! normalize.css v3.0.0 | Figures | MIT License | git.io/normalize */
figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/*! normalize.css v3.0.0 | Forms | MIT License | git.io/normalize */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

/*! normalize.css v3.0.0 | Tables | MIT License | git.io/normalize */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*
 * END COMPASS PLUGIN IMPORT
 * ---------------------------------------------------------------------------------------------------
 * BEGIN LOCAL PARTIALS ASSEMBLY */
/* - - - local partials assembly - - - - - - - - - - - - - - - - - - - -
 * FILE: _defaults.scss
 */
html, body {
  height: 100%;
  /* height: 100% for off-canvas nav */
  font-size: 100%;
}

*,
*:before,
*:after,
hr,
input[type="search"] {
  /* Override Normalize */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@-ms-viewport {
  width: device-width;
}
html {
  -webkit-overflow-scrolling: touch;
  background: #eeeeee;
}

body {
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Heuristica", Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.4;
  position: relative;
  cursor: default;
}

a:hover {
  cursor: pointer;
}

nav ul, nav li {
  margin: 0;
}

nav ul, ul {
  list-style: none;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

audio,
canvas,
img,
video {
  /* Override Normalize */
  vertical-align: middle;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

img {
  -ms-interpolation-mode: bicubic;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.hide {
  display: none;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea {
  height: auto;
  min-height: 50px;
}

select {
  width: 100%;
}

[data-icon]:before {
  font-family: "FontCustom";
  content: attr(data-icon);
  speak: none;
}

/* - - - local partials assembly - - - - - - - - - - - - - - - - - - - -
 * FILE: _grids.scss
 */
/* Setting up the Magic Grid */
.contain {
  max-width: 59em;
  margin-left: auto;
  margin-right: auto;
  height: inherit;
  position: relative;
}
.contain::after {
  content: " ";
  display: block;
  clear: both;
}

header {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  width: 100%;
  float: left;
}
header::after {
  content: " ";
  display: block;
  clear: both;
}
header h1 {
  width: auto;
  clear: both;
}

nav {
  z-index: 6;
  position: relative;
  margin: 0 auto;
}
nav li {
  float: left;
}

section {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  width: 100%;
  float: left;
}
section::after {
  content: " ";
  display: block;
  clear: both;
}

#about {
  z-index: 4;
  position: relative;
  width: 100%;
  float: left;
}

#work {
  z-index: 3;
  position: relative;
}

#contact {
  z-index: 2;
  position: relative;
}

footer {
  width: 100%;
  float: left;
  z-index: 1;
  position: relative;
}

/* Setting the Breakpoints */
/* - - - local partials assembly - - - - - - - - - - - - - - - - - - - -
 * FILE: _typography.scss
 */
.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

/* Typography resets */
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

/* Default Link Styles */
a {
  color: #008cba;
  text-decoration: none;
  border-bottom: 1px dotted #008cba;
  line-height: inherit;
  margin: 0 0.2em;
  transition: 250ms ease-out;
  transition-property: border-color, color;
}
a:hover, a:focus {
  color: inherit;
  border-color: #0078a0;
}
a img {
  border: none;
}

/* Default paragraph styles */
p {
  font-family: "Heuristica", Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  text-rendering: optimizeLegibility;
}
p.lead {
  font-size: 1.21875rem;
  line-height: 1.6;
}
p aside {
  font-size: 0.875rem;
  line-height: 1.35;
  font-style: italic;
}

/* Default header styles */
h1, h2, h3, h4, h5, h6 {
  font-family: "Gotham", "Century Gothic", "Tw Cen MT", Futura, "URW Gothic L", Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #28415c;
  text-rendering: optimizeLegibility;
  page-break-after: avoid;
  margin-top: 0.2rem;
  margin-bottom: 0.4rem;
  line-height: 1.4;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: 60%;
  color: #5482b5;
  line-height: 0;
}

h1 {
  font-size: 2.125rem;
}

h2 {
  font-size: 1.6875rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

.subheader {
  line-height: 1.4;
  color: #5482b5;
  font-weight: normal;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

hr {
  border: solid silver;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25rem 0 1.1875rem;
  height: 0;
}

/* Helpful Typography Defaults */
em,
i {
  font-style: italic;
  line-height: inherit;
}

strong,
b {
  font-weight: 700;
  line-height: inherit;
}

code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: bold;
  color: #bd260d;
}

/* Lists */
ul,
ol,
dl {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  list-style-position: outside;
  font-family: "Heuristica", Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}

ul {
  margin-left: 1.1rem;
}
ul.no-bullet {
  margin-left: 0;
}
ul.no-bullet li ul,
ul.no-bullet li ol {
  margin-left: 1.25rem;
  margin-bottom: 0;
  list-style: none;
}

/* Unordered Lists */
ul li ul,
ul li ol {
  margin-left: 1.25rem;
  margin-bottom: 0;
}
ul.square li ul, ul.circle li ul, ul.disc li ul {
  list-style: inherit;
}
ul.square {
  list-style-type: square;
  margin-left: 1.1rem;
}
ul.circle {
  list-style-type: circle;
  margin-left: 1.1rem;
}
ul.disc {
  list-style-type: disc;
  margin-left: 1.1rem;
}
ul.no-bullet {
  list-style: none;
}

/* Ordered Lists */
ol {
  margin-left: 1.4rem;
}
ol li ul,
ol li ol {
  margin-left: 1.25rem;
  margin-bottom: 0;
}

/* - - - local partials assembly - - - - - - - - - - - - - - - - - - - -
 * FILE: _media.scss
 */
.media {
  position: relative;
  padding-top: 30px;
  padding-bottom: 56.25%;
  height: 0;
  height: auto;
  max-width: 100%;
  margin-bottom: 1em;
  overflow: hidden;
}

.media.widescreen {
  padding-bottom: 45%;
}

.media iframe,
.media object,
.media embed,
.media video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  background-color: transparent;
}

.media img {
  position: absolute;
  top: -1000000%;
  right: -1000000%;
  bottom: -1000000%;
  left: -1000000%;
  margin: auto;
  width: 100%;
}

.no-js header {
  border-top: 0.4em #008cba solid;
}
.no-js header h1 {
  font-size: 1.4em;
}

/*
 * END LOCAL PARTIALS ASSEMBLY
 * ---------------------------------------------------------------------------------------------------
 * BEGIN CUSTOM STYLES
 */
header {
  margin: 0;
  padding: 0;
  background: #eeeeee;
  border-top: 0.4em #eeeeee solid;
  -moz-transition: border-top 0.2s linear;
  -o-transition: border-top 0.2s linear;
  -webkit-transition: border-top 0.2s linear;
  transition: border-top 0.2s linear;
}
header.about {
  border-top: 0.4em #01a275 solid;
  -moz-transition: border-top 0.2s linear;
  -o-transition: border-top 0.2s linear;
  -webkit-transition: border-top 0.2s linear;
  transition: border-top 0.2s linear;
}
header.work {
  border-top: 0.4em #008cba solid;
  -moz-transition: border-top 0.2s linear;
  -o-transition: border-top 0.2s linear;
  -webkit-transition: border-top 0.2s linear;
  transition: border-top 0.2s linear;
}
header.contact {
  border-top: 0.4em #c96363 solid;
  -moz-transition: border-top 0.2s linear;
  -o-transition: border-top 0.2s linear;
  -webkit-transition: border-top 0.2s linear;
  transition: border-top 0.2s linear;
}
header.blog {
  border-top: 0.4em #43679e solid;
  -moz-transition: border-top 0.2s linear;
  -o-transition: border-top 0.2s linear;
  -webkit-transition: border-top 0.2s linear;
  transition: border-top 0.2s linear;
}
header h1 {
  margin: 0;
  padding: 0.07em 0;
  padding: 0.1em 0 0.15em 0;
  font-family: "Gotham", "Century Gothic", "Tw Cen MT", Futura, "URW Gothic L", Arial, sans-serif;
  color: #28415c;
  font-size: 1.7em;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 1;
  text-align: center;
  text-shadow: white -1px 1px 0, #214d72 -2px 2px 0;
}
header [data-icon='\f100'] {
  font-size: 1.25em;
  line-height: 0;
  margin: 0 -0.13em 0 -0.27em;
  text-shadow: 0 -0.5px 1px #a3a3a3;
}

nav li {
  display: inline-block;
  text-align: center;
  -moz-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  -webkit-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
nav li:hover, nav li:focus {
  cursor: pointer;
}
nav li a {
  font-family: "Gotham", "Century Gothic", "Tw Cen MT", Futura, "URW Gothic L", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #1a4a74;
  padding: 0;
  border: none;
}
nav li a:hover, nav li a:focus {
  background: none;
  text-decoration: none;
}
nav li.selected:nth-of-type(1) {
  background: #01a275;
  -moz-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  -webkit-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
nav li.selected:nth-of-type(2) {
  background: #008cba;
  -moz-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  -webkit-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
nav li.selected:nth-of-type(3) {
  background: #c96363;
  -moz-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  -webkit-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
nav li.selected:nth-of-type(4) {
  background: #43679e;
  -moz-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  -webkit-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
nav li.selected a {
  color: #eee;
}
nav li.selected a:hover, nav li.selected a:focus {
  color: #eee;
  background: none;
  text-decoration: none;
}
nav li.external a:hover, nav li.external a:focus {
  background: none;
  text-decoration: none;
}

#about {
  background: url(../img/graphpaper.png) scroll 0 0 repeat, #0e4361;
  overflow: hidden;
  width: 100%;
  height: auto;
  padding: 3% 2%;
  text-align: center;
}
#about .tagline {
  margin: 0.5em 0;
}
#about .tagline span {
  font-family: "Gotham", "Century Gothic", "Tw Cen MT", Futura, "URW Gothic L", Arial, sans-serif;
  font-weight: 700;
  font-size: 1.33em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #0e4361;
  vertical-align: middle;
  position: relative;
  top: 0.2em;
  background-color: white;
}
#about .tagline span:nth-of-type(1) {
  padding: 0.2em 0.5em;
}
#about .tagline span:nth-of-type(1):before {
  position: absolute;
  content: "";
  border: 0.8em solid white;
  border-left-color: transparent;
  left: -1.2em;
  top: 0.15em;
}
#about .tagline span:nth-of-type(2) {
  padding: 0.2em 0.7em;
}
#about .tagline span:nth-of-type(2):after {
  position: absolute;
  content: "";
  border: 0.8em solid white;
  border-right-color: transparent;
  right: -1.2em;
  top: 0.15em;
}
#about img {
  height: auto;
  border-radius: 50%;
  margin: 0 -0.15em 0 -0.1em;
}
#about p {
  margin: 0;
  color: #fafafa;
  text-align: center;
  text-shadow: #969696 -0.5px 1px 0;
}
#about p:nth-of-type(1) {
  font-family: "SourceSansPro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.4;
  padding: 4% 0;
  position: relative;
  top: 15%;
  font-size: 2.5em;
}
#about p:nth-of-type(1) strong {
  text-transform: none;
  font-weight: 700;
  color: #01a275;
  text-shadow: #016f50 -0.5px 1px 0;
}
#about p:nth-of-type(1) a {
  text-decoration: line-through;
  border: none;
}
#about p:nth-of-type(2) {
  padding: 4% 0;
  font-size: 1.2em;
  letter-spacing: 0.01em;
  max-width: 45em;
  margin: auto;
}
#about p:nth-of-type(2) i {
  color: #01a275;
  font-size: 1.1em;
  font-style: italic;
  text-shadow: #016f50 -0.5px 1px 0;
  padding: 0.155em;
}
#about p a {
  white-space: nowrap;
  text-shadow: #006687 -0.5px 1px 0;
}
#about hr {
  border: dotted #969696;
  border-width: 1px 0 0;
  padding: 0;
}

#work {
  background-color: #eeeeee;
  position: relative;
}
#work a.box {
  padding: 0;
}
#work .box {
  display: inline-block;
  position: relative;
  max-width: 23.625em;
  border: 1px solid white;
  -moz-box-shadow: 0px 2px 3px 0 #c8c8c8;
  -webkit-box-shadow: 0px 2px 3px 0 #c8c8c8;
  box-shadow: 0px 2px 3px 0 #c8c8c8;
}
#work .box img {
  max-width: 100%;
}
#work .caption {
  background-color: rgba(0, 0, 0, 0.77);
  position: absolute;
  bottom: 15%;
  left: 0;
  right: 0;
  width: 100%;
  padding: 3% 2%;
  overflow: hidden;
}
#work .caption h2 {
  text-align: center;
  font-family: "SourceSansPro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.02em;
  color: #fafafa;
  text-shadow: #232323 -0.5px 1px 0;
  -moz-transition: font-size 0.05s ease;
  -o-transition: font-size 0.05s ease;
  -webkit-transition: font-size 0.05s ease;
  transition: font-size 0.05s ease;
}

#contact {
  background-color: #222222;
}

footer {
  background: url(../img/hexnoise.png) fixed 0 0 repeat, #2e2e2e;
}
footer p {
  text-align: center;
  color: rgba(255, 255, 255, 0.18);
  margin: 0;
}

/* - - - local partials assembly - - - - - - - - - - - - - - - - - - - -
 * FILE: _mediaqueries.scss
 */
@media (min-width: 19.375em) {
  body {
    margin-top: 3.7em;
  }

  .contain {
    border-top: 3.3em solid transparent;
    margin-top: -3.3em;
  }

  section {
    border-top: 3.3em solid #eeeeee;
    margin-top: -3.3em;
  }

  nav {
    width: 19.375em;
  }
  nav li {
    width: 4.8em;
  }

  header h1 {
    font-size: 1.4em;
  }

  #about img {
    margin-top: 0.3em;
    width: 8em;
  }
}
@media (min-width: 21.25em) {
  body {
    margin-top: 3.814em;
  }

  .contain {
    border-top: 3.414em solid transparent;
    margin-top: -3.414em;
  }

  section {
    border-top: 3.414em solid #eeeeee;
    margin-top: -3.414em;
  }

  nav {
    width: 20.375em;
  }
  nav li {
    width: 5.05em;
  }

  header h1 {
    font-size: 1.5em;
  }

  #about img {
    margin-top: 0.32em;
    width: 8.16667em;
  }
}
@media (min-width: 23.125em) {
  body {
    margin-top: 3.928em;
  }

  .contain {
    border-top: 3.528em solid transparent;
    margin-top: -3.528em;
  }

  section {
    border-top: 3.528em solid #eeeeee;
    margin-top: -3.528em;
  }

  nav {
    width: 21.375em;
  }
  nav li {
    width: 5.3em;
  }

  header h1 {
    font-size: 1.6em;
  }

  #about img {
    margin-top: 0.34em;
    width: 8.33333em;
  }
}
@media (min-width: 25em) {
  body {
    margin-top: 4.042em;
  }

  .contain {
    border-top: 3.642em solid transparent;
    margin-top: -3.642em;
  }

  section {
    border-top: 3.642em solid #eeeeee;
    margin-top: -3.642em;
  }

  nav {
    width: 22.375em;
  }
  nav li {
    width: 5.55em;
  }

  header h1 {
    font-size: 1.7em;
  }

  #about img {
    margin-top: 0.36em;
    width: 8.5em;
  }
}
@media (min-width: 26.875em) {
  body {
    margin-top: 4.156em;
  }

  .contain {
    border-top: 3.756em solid transparent;
    margin-top: -3.756em;
  }

  section {
    border-top: 3.756em solid #eeeeee;
    margin-top: -3.756em;
  }

  nav {
    width: 23.375em;
  }
  nav li {
    width: 5.8em;
  }

  header h1 {
    font-size: 1.8em;
  }

  #about img {
    margin-top: 0.38em;
    width: 8.66667em;
  }
}
@media (min-width: 28.75em) {
  body {
    margin-top: 4.27em;
  }

  .contain {
    border-top: 3.87em solid transparent;
    margin-top: -3.87em;
  }

  section {
    border-top: 3.87em solid #eeeeee;
    margin-top: -3.87em;
  }

  nav {
    width: 24.375em;
  }
  nav li {
    width: 6.05em;
  }

  header h1 {
    font-size: 1.9em;
  }

  #about img {
    margin-top: 0.4em;
    width: 8.83333em;
  }
}
@media (min-width: 30.625em) {
  body {
    margin-top: 4.384em;
  }

  .contain {
    border-top: 3.984em solid transparent;
    margin-top: -3.984em;
  }

  section {
    border-top: 3.984em solid #eeeeee;
    margin-top: -3.984em;
  }

  nav {
    width: 25.375em;
  }
  nav li {
    width: 6.3em;
  }

  header h1 {
    font-size: 2em;
  }

  #about img {
    margin-top: 0.42em;
    width: 9em;
  }
}
@media (min-width: 32.5em) {
  body {
    margin-top: 4.498em;
  }

  .contain {
    border-top: 4.098em solid transparent;
    margin-top: -4.098em;
  }

  section {
    border-top: 4.098em solid #eeeeee;
    margin-top: -4.098em;
  }

  nav {
    width: 26.375em;
  }
  nav li {
    width: 6.55em;
  }

  header h1 {
    font-size: 2.1em;
  }

  #about img {
    margin-top: 0.44em;
    width: 9.16667em;
  }
}
@media (min-width: 34.375em) {
  body {
    margin-top: 4.612em;
  }

  .contain {
    border-top: 4.212em solid transparent;
    margin-top: -4.212em;
  }

  section {
    border-top: 4.212em solid #eeeeee;
    margin-top: -4.212em;
  }

  nav {
    width: 27.375em;
  }
  nav li {
    width: 6.8em;
  }

  header h1 {
    font-size: 2.2em;
  }

  #about img {
    margin-top: 0.46em;
    width: 9.33333em;
  }
}
@media (min-width: 36.25em) {
  body {
    margin-top: 4.726em;
  }

  .contain {
    border-top: 4.326em solid transparent;
    margin-top: -4.326em;
  }

  section {
    border-top: 4.326em solid #eeeeee;
    margin-top: -4.326em;
  }

  nav {
    width: 28.375em;
  }
  nav li {
    width: 7.05em;
  }

  header h1 {
    font-size: 2.3em;
  }

  #about img {
    margin-top: 0.48em;
    width: 9.5em;
  }
}
@media (min-width: 38.125em) {
  body {
    margin-top: 4.84em;
  }

  .contain {
    border-top: 4.44em solid transparent;
    margin-top: -4.44em;
  }

  section {
    border-top: 4.44em solid #eeeeee;
    margin-top: -4.44em;
  }

  nav {
    width: 29.375em;
  }
  nav li {
    width: 7.3em;
  }

  header h1 {
    font-size: 2.4em;
  }

  #about img {
    margin-top: 0.5em;
    width: 9.66667em;
  }
}
@media (min-width: 40em) {
  body {
    margin-top: 4.954em;
  }

  .contain {
    border-top: 4.554em solid transparent;
    margin-top: -4.554em;
  }

  section {
    border-top: 4.554em solid #eeeeee;
    margin-top: -4.554em;
  }

  nav {
    width: 30.375em;
  }
  nav li {
    width: 7.55em;
  }

  header h1 {
    font-size: 2.5em;
  }

  #about img {
    margin-top: 0.52em;
    width: 9.83333em;
  }
}
@media (min-width: 41.875em) {
  body {
    margin-top: 5.068em;
  }

  .contain {
    border-top: 4.668em solid transparent;
    margin-top: -4.668em;
  }

  section {
    border-top: 4.668em solid #eeeeee;
    margin-top: -4.668em;
  }

  nav {
    width: 31.375em;
  }
  nav li {
    width: 7.8em;
  }

  header h1 {
    font-size: 2.6em;
  }

  #about img {
    margin-top: 0.54em;
    width: 10em;
  }
}
@media (min-width: 43.75em) {
  body {
    margin-top: 5.182em;
  }

  .contain {
    border-top: 4.782em solid transparent;
    margin-top: -4.782em;
  }

  section {
    border-top: 4.782em solid #eeeeee;
    margin-top: -4.782em;
  }

  nav {
    width: 32.375em;
  }
  nav li {
    width: 8.05em;
  }

  header h1 {
    font-size: 2.7em;
  }

  #about img {
    margin-top: 0.56em;
    width: 10.16667em;
  }
}
@media (min-width: 45.625em) {
  body {
    margin-top: 5.296em;
  }

  .contain {
    border-top: 4.896em solid transparent;
    margin-top: -4.896em;
  }

  section {
    border-top: 4.896em solid #eeeeee;
    margin-top: -4.896em;
  }

  nav {
    width: 33.375em;
  }
  nav li {
    width: 8.3em;
  }

  header h1 {
    font-size: 2.8em;
  }

  #about img {
    margin-top: 0.58em;
    width: 10.33333em;
  }
}
@media (min-width: 47.5em) {
  body {
    margin-top: 5.41em;
  }

  .contain {
    border-top: 5.01em solid transparent;
    margin-top: -5.01em;
  }

  section {
    border-top: 5.01em solid #eeeeee;
    margin-top: -5.01em;
  }

  nav {
    width: 34.375em;
  }
  nav li {
    width: 8.55em;
  }

  header h1 {
    font-size: 2.9em;
  }

  #about img {
    margin-top: 0.6em;
    width: 10.5em;
  }
}
@media (min-width: 49.375em) {
  body {
    margin-top: 5.524em;
  }

  .contain {
    border-top: 5.124em solid transparent;
    margin-top: -5.124em;
  }

  section {
    border-top: 5.124em solid #eeeeee;
    margin-top: -5.124em;
  }

  nav {
    width: 35.375em;
  }
  nav li {
    width: 8.8em;
  }

  header h1 {
    font-size: 3em;
  }

  #about img {
    margin-top: 0.62em;
    width: 10.66667em;
  }
}
@media (min-width: 51.25em) {
  body {
    margin-top: 5.638em;
  }

  .contain {
    border-top: 5.238em solid transparent;
    margin-top: -5.238em;
  }

  section {
    border-top: 5.238em solid #eeeeee;
    margin-top: -5.238em;
  }

  nav {
    width: 36.375em;
  }
  nav li {
    width: 9.05em;
  }

  header h1 {
    font-size: 3.1em;
  }

  #about img {
    margin-top: 0.64em;
    width: 10.83333em;
  }
}
@media (min-width: 53.125em) {
  body {
    margin-top: 5.752em;
  }

  .contain {
    border-top: 5.352em solid transparent;
    margin-top: -5.352em;
  }

  section {
    border-top: 5.352em solid #eeeeee;
    margin-top: -5.352em;
  }

  nav {
    width: 37.375em;
  }
  nav li {
    width: 9.3em;
  }

  header h1 {
    font-size: 3.2em;
  }

  #about img {
    margin-top: 0.66em;
    width: 11em;
  }
}
@media (min-width: 55em) {
  body {
    margin-top: 5.866em;
  }

  .contain {
    border-top: 5.466em solid transparent;
    margin-top: -5.466em;
  }

  section {
    border-top: 5.466em solid #eeeeee;
    margin-top: -5.466em;
  }

  nav {
    width: 38.375em;
  }
  nav li {
    width: 9.55em;
  }

  header h1 {
    font-size: 3.3em;
  }

  #about img {
    margin-top: 0.68em;
    width: 11.16667em;
  }
}
@media (min-width: 56.875em) {
  body {
    margin-top: 5.98em;
  }

  .contain {
    border-top: 5.58em solid transparent;
    margin-top: -5.58em;
  }

  section {
    border-top: 5.58em solid #eeeeee;
    margin-top: -5.58em;
  }

  nav {
    width: 39.375em;
  }
  nav li {
    width: 9.8em;
  }

  header h1 {
    font-size: 3.4em;
  }

  #about img {
    margin-top: 0.7em;
    width: 11.33333em;
  }
}
@media (min-width: 58.75em) {
  body {
    margin-top: 6.094em;
  }

  .contain {
    border-top: 5.694em solid transparent;
    margin-top: -5.694em;
  }

  section {
    border-top: 5.694em solid #eeeeee;
    margin-top: -5.694em;
  }

  nav {
    width: 40.375em;
  }
  nav li {
    width: 10.05em;
  }

  header h1 {
    font-size: 3.5em;
  }

  #about img {
    margin-top: 0.72em;
    width: 11.5em;
  }
}
@media (min-width: 60.625em) {
  body {
    margin-top: 6.208em;
  }

  .contain {
    border-top: 5.808em solid transparent;
    margin-top: -5.808em;
  }

  section {
    border-top: 5.808em solid #eeeeee;
    margin-top: -5.808em;
  }

  nav {
    width: 41.375em;
  }
  nav li {
    width: 10.3em;
  }

  header h1 {
    font-size: 3.6em;
  }

  #about img {
    margin-top: 0.74em;
    width: 11.66667em;
  }
}
@media (min-width: 62.5em) {
  body {
    margin-top: 6.322em;
  }

  .contain {
    border-top: 5.922em solid transparent;
    margin-top: -5.922em;
  }

  section {
    border-top: 5.922em solid #eeeeee;
    margin-top: -5.922em;
  }

  nav {
    width: 42.375em;
  }
  nav li {
    width: 10.55em;
  }

  header h1 {
    font-size: 3.7em;
  }

  #about img {
    margin-top: 0.76em;
    width: 11.83333em;
  }
}
@media (min-width: 64.375em) {
  body {
    margin-top: 6.436em;
  }

  .contain {
    border-top: 6.036em solid transparent;
    margin-top: -6.036em;
  }

  section {
    border-top: 6.036em solid #eeeeee;
    margin-top: -6.036em;
  }

  nav {
    width: 43.375em;
  }
  nav li {
    width: 10.8em;
  }

  header h1 {
    font-size: 3.8em;
  }

  #about img {
    margin-top: 0.78em;
    width: 12em;
  }
}
@media (min-width: 66.25em) {
  body {
    margin-top: 6.55em;
  }

  .contain {
    border-top: 6.15em solid transparent;
    margin-top: -6.15em;
  }

  section {
    border-top: 6.15em solid #eeeeee;
    margin-top: -6.15em;
  }

  nav {
    width: 44.375em;
  }
  nav li {
    width: 11.05em;
  }

  header h1 {
    font-size: 3.9em;
  }

  #about img {
    margin-top: 0.8em;
    width: 12.16667em;
  }
}
@media (min-width: 68.125em) {
  body {
    margin-top: 6.664em;
  }

  .contain {
    border-top: 6.264em solid transparent;
    margin-top: -6.264em;
  }

  section {
    border-top: 6.264em solid #eeeeee;
    margin-top: -6.264em;
  }

  nav {
    width: 45.375em;
  }
  nav li {
    width: 11.3em;
  }

  header h1 {
    font-size: 4em;
  }

  #about img {
    margin-top: 0.82em;
    width: 12.33333em;
  }
}
@media (min-width: 70em) {
  body {
    margin-top: 6.778em;
  }

  .contain {
    border-top: 6.378em solid transparent;
    margin-top: -6.378em;
  }

  section {
    border-top: 6.378em solid #eeeeee;
    margin-top: -6.378em;
  }

  nav {
    width: 46.375em;
  }
  nav li {
    width: 11.55em;
  }

  header h1 {
    font-size: 4.1em;
  }

  #about img {
    margin-top: 0.84em;
    width: 12.5em;
  }
}
@media (min-width: 71.875em) {
  body {
    margin-top: 6.892em;
  }

  .contain {
    border-top: 6.492em solid transparent;
    margin-top: -6.492em;
  }

  section {
    border-top: 6.492em solid #eeeeee;
    margin-top: -6.492em;
  }

  nav {
    width: 47.375em;
  }
  nav li {
    width: 11.8em;
  }

  header h1 {
    font-size: 4.2em;
  }

  #about img {
    margin-top: 0.86em;
    width: 12.66667em;
  }
}
@media (min-width: 73.75em) {
  body {
    margin-top: 7.006em;
  }

  .contain {
    border-top: 6.606em solid transparent;
    margin-top: -6.606em;
  }

  section {
    border-top: 6.606em solid #eeeeee;
    margin-top: -6.606em;
  }

  nav {
    width: 48.375em;
  }
  nav li {
    width: 12.05em;
  }

  header h1 {
    font-size: 4.3em;
  }

  #about img {
    margin-top: 0.88em;
    width: 12.83333em;
  }
}
@media (min-width: 75.625em) {
  body {
    margin-top: 7.12em;
  }

  .contain {
    border-top: 6.72em solid transparent;
    margin-top: -6.72em;
  }

  section {
    border-top: 6.72em solid #eeeeee;
    margin-top: -6.72em;
  }

  nav {
    width: 49.375em;
  }
  nav li {
    width: 12.3em;
  }

  header h1 {
    font-size: 4.4em;
  }

  #about img {
    margin-top: 0.9em;
    width: 13em;
  }
}
@media (max-width: 60.188em) {
  #about p:nth-of-type(1) {
    font-size: 1.6em;
  }

  #about p:nth-of-type(2) {
    font-size: 1.05em;
  }
  #about p:nth-of-type(2) i {
    font-size: 1.1em;
  }

  #about .tagline span {
    font-size: 1em;
    text-shadow: 0px 0px 0 #969696, -0.2px 0.2px 0 white, -0.5px 0.5px 0 white, -1px 1px 0 white, -1.5px 1.5px 0 white, -1px 1px 0 white;
  }
}
@media (min-width: 20em) {
  #work {
    padding: 2% 8%;
  }
  #work .box {
    width: 99%;
    margin: 0%;
  }
  #work .box:nth-child(n) {
    margin: 0%;
  }
  #work .box:nth-child(n):hover {
    width: 100%;
    margin: -0.5%;
  }
  #work .box:nth-child(1n) {
    margin-right: auto;
  }
  #work .box:nth-child(1n):hover {
    width: 100%;
    margin: -0.6%;
  }
  #work .box:nth-child(1n) {
    margin-left: auto;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  #work .box:nth-child(1n):hover {
    margin-top: 9.5%;
    margin-bottom: 9.5%;
  }
}
@media (max-width: 27.438em) {
  display: block;
}
@media (min-width: 27.5em) {
  #work .box {
    width: 44%;
    margin: 2.75%;
  }
  #work .box:nth-child(n) {
    margin: 2.75%;
  }
  #work .box:nth-child(n):hover {
    width: 45%;
    margin: 2.25%;
  }
  #work .box:nth-child(2n) {
    margin-right: auto;
  }
  #work .box:nth-child(2n):hover {
    width: 45%;
    margin: 2.15%;
  }
}
@media (min-width: 43.75em) {
  #work {
    padding: 1% 5%;
  }
}
@media (min-width: 53.125em) {
  #work {
    padding: 1.5% 4%;
  }
  #work .box {
    width: 29%;
    margin: 2%;
  }
  #work .box:nth-child(n) {
    margin: 2%;
  }
  #work .box:nth-child(n):hover {
    width: 30%;
    margin: 1.5%;
  }
  #work .box:nth-child(3n) {
    margin-right: auto;
  }
  #work .box:nth-child(3n):hover {
    width: 30%;
    margin: 1.4%;
  }
}
@media (min-width: 75em) {
  #work {
    padding: 1.5% 4%;
  }
  #work .box {
    width: 21.25%;
    margin: 1.75%;
  }
  #work .box:nth-child(n) {
    margin: 1.75%;
  }
  #work .box:nth-child(n):hover {
    width: 22.25%;
    margin: 1.25%;
  }
  #work .box:nth-child(4n) {
    margin-right: auto;
  }
  #work .box:nth-child(4n):hover {
    width: 22.25%;
    margin: 1.15%;
  }
}
@media (min-width: 100em) {
  #work {
    padding: 1.5% 4%;
  }
  #work .box {
    width: 17.3%;
    margin: 1.25%;
  }
  #work .box:nth-child(n) {
    margin: 1.25%;
  }
  #work .box:nth-child(n):hover {
    width: 18.3%;
    margin: 0.75%;
  }
  #work .box:nth-child(5n) {
    margin-right: auto;
  }
  #work .box:nth-child(5n):hover {
    width: 18.3%;
    margin: 0.65%;
  }
}
nav {
  max-width: 26em;
}
nav li {
  max-width: 6.5em;
}
