/* SCSS compiled with Compass
 * This file defines custom screen styles. */
/* ---------------------------------------------------------------------------------------------------
 * BEGIN COMPASS PLUGIN IMPORT */
@font-face {
  font-family: "Gotham";
  font-weight: 100;
  src: url("../font/gotham/gotham-thin.eot");
  src: url("../font/gotham/gotham-thin.eot?#iefix") format("embedded-opentype"), url("../font/gotham/gotham-thin.woff") format("woff"), url("../font/gotham/gotham-thin.ttf") format("truetype"), url("../font/gotham/gotham-thin.svg#gotham-thin") format("svg");
}
@font-face {
  font-family: "Gotham";
  font-weight: 100;
  font-style: italic;
  src: url("../font/gotham/gotham-thinitalic.eot");
  src: url("../font/gotham/gotham-thinitalic.eot?#iefix") format("embedded-opentype"), url("../font/gotham/gotham-thinitalic.woff") format("woff"), url("../font/gotham/gotham-thinitalic.ttf") format("truetype"), url("../font/gotham/gotham-thinitalic.svg#gotham-thinitalic") format("svg");
}
@font-face {
  font-family: "Gotham";
  font-weight: 200;
  src: url("../font/gotham/gotham-extralight.eot");
  src: url("../font/gotham/gotham-extralight.eot?#iefix") format("embedded-opentype"), url("../font/gotham/gotham-extralight.woff") format("woff"), url("../font/gotham/gotham-extralight.ttf") format("truetype"), url("../font/gotham/gotham-extralight.svg#gotham-extralight") format("svg");
}
@font-face {
  font-family: "Gotham";
  font-weight: 200;
  font-style: italic;
  src: url("../font/gotham/gotham-extralightitalic.eot");
  src: url("../font/gotham/gotham-extralightitalic.eot?#iefix") format("embedded-opentype"), url("../font/gotham/gotham-extralightitalic.woff") format("woff"), url("../font/gotham/gotham-extralightitalic.ttf") format("truetype"), url("../font/gotham/gotham-extralightitalic.svg#gotham-extralightitalic") format("svg");
}
@font-face {
  font-family: "Gotham";
  font-weight: 300;
  src: url("../font/gotham/gotham-light.eot");
  src: url("../font/gotham/gotham-light.eot?#iefix") format("embedded-opentype"), url("../font/gotham/gotham-light.woff") format("woff"), url("../font/gotham/gotham-light.ttf") format("truetype"), url("../font/gotham/gotham-light.svg#gotham-light") format("svg");
}
@font-face {
  font-family: "Gotham";
  font-weight: 300;
  font-style: italic;
  src: url("../font/gotham/gotham-lightitalic.eot");
  src: url("../font/gotham/gotham-lightitalic.eot?#iefix") format("embedded-opentype"), url("../font/gotham/gotham-lightitalic.woff") format("woff"), url("../font/gotham/gotham-lightitalic.ttf") format("truetype"), url("../font/gotham/gotham-lightitalic.svg#gotham-lightitalic") format("svg");
}
@font-face {
  font-family: "Gotham";
  font-weight: 400;
  src: url("../font/gotham/gotham-book.eot");
  src: url("../font/gotham/gotham-book.eot?#iefix") format("embedded-opentype"), url("../font/gotham/gotham-book.woff") format("woff"), url("../font/gotham/gotham-book.ttf") format("truetype"), url("../font/gotham/gotham-book.svg#gotham-book") format("svg");
}
@font-face {
  font-family: "Gotham";
  font-weight: 400;
  font-style: italic;
  src: url("../font/gotham/gotham-bookitalic.eot");
  src: url("../font/gotham/gotham-bookitalic.eot?#iefix") format("embedded-opentype"), url("../font/gotham/gotham-bookitalic.woff") format("woff"), url("../font/gotham/gotham-bookitalic.ttf") format("truetype"), url("../font/gotham/gotham-bookitalic.svg#gotham-bookitalic") format("svg");
}
@font-face {
  font-family: "Gotham";
  font-weight: 600;
  src: url("../font/gotham/gotham-medium.eot");
  src: url("../font/gotham/gotham-medium.eot?#iefix") format("embedded-opentype"), url("../font/gotham/gotham-medium.woff") format("woff"), url("../font/gotham/gotham-medium.ttf") format("truetype"), url("../font/gotham/gotham-medium.svg#gotham-medium") format("svg");
}
@font-face {
  font-family: "Gotham";
  font-weight: 600;
  font-style: italic;
  src: url("../font/gotham/gotham-mediumitalic.eot");
  src: url("../font/gotham/gotham-mediumitalic.eot?#iefix") format("embedded-opentype"), url("../font/gotham/gotham-mediumitalic.woff") format("woff"), url("../font/gotham/gotham-mediumitalic.ttf") format("truetype"), url("../font/gotham/gotham-mediumitalic.svg#gotham-mediumitalic") format("svg");
}
@font-face {
  font-family: "Gotham";
  font-weight: 700;
  src: url("../font/gotham/gotham-bold.eot");
  src: url("../font/gotham/gotham-bold.eot?#iefix") format("embedded-opentype"), url("../font/gotham/gotham-bold.woff") format("woff"), url("../font/gotham/gotham-bold.ttf") format("truetype"), url("../font/gotham/gotham-bold.svg#gotham-bold") format("svg");
}
@font-face {
  font-family: "Gotham";
  font-weight: 700;
  font-style: italic;
  src: url("../font/gotham/gotham-bolditalic.eot");
  src: url("../font/gotham/gotham-bolditalic.eot?#iefix") format("embedded-opentype"), url("../font/gotham/gotham-bolditalic.woff") format("woff"), url("../font/gotham/gotham-bolditalic.ttf") format("truetype"), url("../font/gotham/gotham-bolditalic.svg#gotham-bolditalic") format("svg");
}
@font-face {
  font-family: "Gotham";
  font-weight: 800;
  src: url("../font/gotham/gotham-black.eot");
  src: url("../font/gotham/gotham-black.eot?#iefix") format("embedded-opentype"), url("../font/gotham/gotham-black.woff") format("woff"), url("../font/gotham/gotham-black.ttf") format("truetype"), url("../font/gotham/gotham-black.svg#gotham-black") format("svg");
}
@font-face {
  font-family: "Gotham";
  font-weight: 800;
  font-style: italic;
  src: url("../font/gotham/gotham-blackitalic.eot");
  src: url("../font/gotham/gotham-blackitalic.eot?#iefix") format("embedded-opentype"), url("../font/gotham/gotham-blackitalic.woff") format("woff"), url("../font/gotham/gotham-blackitalic.ttf") format("truetype"), url("../font/gotham/gotham-blackitalic.svg#gotham-blackitalic") format("svg");
}
@font-face {
  font-family: "Gotham";
  font-weight: 900;
  src: url("../font/gotham/gotham-ultra.eot");
  src: url("../font/gotham/gotham-ultra.eot?#iefix") format("embedded-opentype"), url("../font/gotham/gotham-ultra.woff") format("woff"), url("../font/gotham/gotham-ultra.ttf") format("truetype"), url("../font/gotham/gotham-ultra.svg#gotham-ultra") format("svg");
}
@font-face {
  font-family: "Gotham";
  font-weight: 900;
  font-style: italic;
  src: url("../font/gotham/gotham-ultraitalic.eot");
  src: url("../font/gotham/gotham-ultraitalic.eot?#iefix") format("embedded-opentype"), url("../font/gotham/gotham-ultraitalic.woff") format("woff"), url("../font/gotham/gotham-ultraitalic.ttf") format("truetype"), url("../font/gotham/gotham-ultraitalic.svg#gotham-ultraitalic") format("svg");
}
@font-face {
  font-family: "SourceSansPro";
  font-weight: 200;
  src: url("../font/source-sans-pro/sourcesanspro-extralight.eot");
  src: url("../font/source-sans-pro/sourcesanspro-extralight.eot?#iefix") format("embedded-opentype"), url("../font/source-sans-pro/sourcesanspro-extralight.woff") format("woff"), url("../font/source-sans-pro/sourcesanspro-extralight.ttf") format("truetype"), url("../font/source-sans-pro/sourcesanspro-extralight.svg#sourcesanspro-extralight") format("svg");
}
@font-face {
  font-family: "SourceSansPro";
  font-weight: 200;
  font-style: italic;
  src: url("../font/source-sans-pro/sourcesanspro-extralightitalic.eot");
  src: url("../font/source-sans-pro/sourcesanspro-extralightitalic.eot?#iefix") format("embedded-opentype"), url("../font/source-sans-pro/sourcesanspro-extralightitalic.woff") format("woff"), url("../font/source-sans-pro/sourcesanspro-extralightitalic.ttf") format("truetype"), url("../font/source-sans-pro/sourcesanspro-extralightitalic.svg#sourcesanspro-extralightitalic") format("svg");
}
@font-face {
  font-family: "SourceSansPro";
  font-weight: 300;
  src: url("../font/source-sans-pro/sourcesanspro-light.eot");
  src: url("../font/source-sans-pro/sourcesanspro-light.eot?#iefix") format("embedded-opentype"), url("../font/source-sans-pro/sourcesanspro-light.woff") format("woff"), url("../font/source-sans-pro/sourcesanspro-light.ttf") format("truetype"), url("../font/source-sans-pro/sourcesanspro-light.svg#sourcesanspro-light") format("svg");
}
@font-face {
  font-family: "SourceSansPro";
  font-weight: 300;
  font-style: italic;
  src: url("../font/source-sans-pro/sourcesanspro-lightitalic.eot");
  src: url("../font/source-sans-pro/sourcesanspro-lightitalic.eot?#iefix") format("embedded-opentype"), url("../font/source-sans-pro/sourcesanspro-lightitalic.woff") format("woff"), url("../font/source-sans-pro/sourcesanspro-lightitalic.ttf") format("truetype"), url("../font/source-sans-pro/sourcesanspro-lightitalic.svg#sourcesanspro-lightitalic") format("svg");
}
@font-face {
  font-family: "SourceSansPro";
  font-weight: 400;
  src: url("../font/source-sans-pro/sourcesanspro-regular.eot");
  src: url("../font/source-sans-pro/sourcesanspro-regular.eot?#iefix") format("embedded-opentype"), url("../font/source-sans-pro/sourcesanspro-regular.woff") format("woff"), url("../font/source-sans-pro/sourcesanspro-regular.ttf") format("truetype"), url("../font/source-sans-pro/sourcesanspro-regular.svg#sourcesanspro-regular") format("svg");
}
@font-face {
  font-family: "SourceSansPro";
  font-weight: 400;
  font-style: italic;
  src: url("../font/source-sans-pro/sourcesanspro-regularitalic.eot");
  src: url("../font/source-sans-pro/sourcesanspro-regularitalic.eot?#iefix") format("embedded-opentype"), url("../font/source-sans-pro/sourcesanspro-regularitalic.woff") format("woff"), url("../font/source-sans-pro/sourcesanspro-regularitalic.ttf") format("truetype"), url("../font/source-sans-pro/sourcesanspro-regularitalic.svg#sourcesanspro-regularitalic") format("svg");
}
@font-face {
  font-family: "SourceSansPro";
  font-weight: 600;
  src: url("../font/source-sans-pro/sourcesanspro-semibold.eot");
  src: url("../font/source-sans-pro/sourcesanspro-semibold.eot?#iefix") format("embedded-opentype"), url("../font/source-sans-pro/sourcesanspro-semibold.woff") format("woff"), url("../font/source-sans-pro/sourcesanspro-semibold.ttf") format("truetype"), url("../font/source-sans-pro/sourcesanspro-semibold.svg#sourcesanspro-semibold") format("svg");
}
@font-face {
  font-family: "SourceSansPro";
  font-weight: 600;
  font-style: italic;
  src: url("../font/source-sans-pro/sourcesanspro-semibolditalic.eot");
  src: url("../font/source-sans-pro/sourcesanspro-semibolditalic.eot?#iefix") format("embedded-opentype"), url("../font/source-sans-pro/sourcesanspro-semibolditalic.woff") format("woff"), url("../font/source-sans-pro/sourcesanspro-semibolditalic.ttf") format("truetype"), url("../font/source-sans-pro/sourcesanspro-semibolditalic.svg#sourcesanspro-semibolditalic") format("svg");
}
@font-face {
  font-family: "SourceSansPro";
  font-weight: 700;
  src: url("../font/source-sans-pro/sourcesanspro-bold.eot");
  src: url("../font/source-sans-pro/sourcesanspro-bold.eot?#iefix") format("embedded-opentype"), url("../font/source-sans-pro/sourcesanspro-bold.woff") format("woff"), url("../font/source-sans-pro/sourcesanspro-bold.ttf") format("truetype"), url("../font/source-sans-pro/sourcesanspro-bold.svg#sourcesanspro-bold") format("svg");
}
@font-face {
  font-family: "SourceSansPro";
  font-weight: 700;
  font-style: italic;
  src: url("../font/source-sans-pro/sourcesanspro-bolditalic.eot");
  src: url("../font/source-sans-pro/sourcesanspro-bolditalic.eot?#iefix") format("embedded-opentype"), url("../font/source-sans-pro/sourcesanspro-bolditalic.woff") format("woff"), url("../font/source-sans-pro/sourcesanspro-bolditalic.ttf") format("truetype"), url("../font/source-sans-pro/sourcesanspro-bolditalic.svg#sourcesanspro-bolditalic") format("svg");
}
@font-face {
  font-family: "SourceSansPro";
  font-weight: 900;
  src: url("../font/source-sans-pro/sourcesanspro-black.eot");
  src: url("../font/source-sans-pro/sourcesanspro-black.eot?#iefix") format("embedded-opentype"), url("../font/source-sans-pro/sourcesanspro-black.woff") format("woff"), url("../font/source-sans-pro/sourcesanspro-black.ttf") format("truetype"), url("../font/source-sans-pro/sourcesanspro-black.svg#sourcesanspro-black") format("svg");
}
@font-face {
  font-family: "SourceSansPro";
  font-weight: 900;
  font-style: italic;
  src: url("../font/source-sans-pro/sourcesanspro-blackitalic.eot");
  src: url("../font/source-sans-pro/sourcesanspro-blackitalic.eot?#iefix") format("embedded-opentype"), url("../font/source-sans-pro/sourcesanspro-blackitalic.woff") format("woff"), url("../font/source-sans-pro/sourcesanspro-blackitalic.ttf") format("truetype"), url("../font/source-sans-pro/sourcesanspro-blackitalic.svg#sourcesanspro-blackitalic") format("svg");
}
@font-face {
  font-family: "FontCustom";
  font-weight: 400;
  src: url("../font/font-custom/fontcustom-regular.eot");
  src: url("../font/font-custom/fontcustom-regular.eot?#iefix") format("embedded-opentype"), url("../font/font-custom/fontcustom-regular.woff") format("woff"), url("../font/font-custom/fontcustom-regular.ttf") format("truetype"), url("../font/font-custom/fontcustom-regular.svg#fontcustom-regular") format("svg");
}
[data-icon]:before {
  content: attr(data-icon);
}

[data-icon]:before,
.icon-GN:before {
  display: inline-block;
  font-family: "FontCustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: inherit;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-GN:before {
  content: "\f100";
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/*! normalize.css v3.0.0 | HTML5 Display Definitions | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

/*! normalize.css v3.0.0 | Base | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

/*! normalize.css v3.0.0 | Links | MIT License | git.io/normalize */
a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

/*! normalize.css v3.0.0 | Typography | MIT License | git.io/normalize */
abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/*! normalize.css v3.0.0 | Embedded Content | MIT License | git.io/normalize */
img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

/*! normalize.css v3.0.0 | Figures | MIT License | git.io/normalize */
figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/*! normalize.css v3.0.0 | Forms | MIT License | git.io/normalize */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

/*! normalize.css v3.0.0 | Tables | MIT License | git.io/normalize */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*
 * END COMPASS PLUGIN IMPORT
 * ---------------------------------------------------------------------------------------------------
 * BEGIN LOCAL PARTIALS ASSEMBLY */
/* - - - local partials assembly - - - - - - - - - - - - - - - - - - - -
 * FILE: _defaults.scss
 */
html, body {
  height: 100%;
  /* height: 100% for off-canvas nav */
  font-size: 100%;
}

*,
*:before,
*:after,
hr,
input[type="search"] {
  /* Override Normalize */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@-ms-viewport {
  width: device-width;
}
html {
  -webkit-overflow-scrolling: touch;
  background: #eeeeee;
}

body {
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.4;
  position: relative;
  cursor: default;
}

a:hover {
  cursor: pointer;
}

nav ul, nav li {
  margin: 0;
}

nav ul, ul {
  list-style: none;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

audio,
canvas,
img,
video {
  /* Override Normalize */
  vertical-align: middle;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

img {
  -ms-interpolation-mode: bicubic;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.hide {
  display: none;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea {
  height: auto;
  min-height: 50px;
}

select {
  width: 100%;
}

/* - - - local partials assembly - - - - - - - - - - - - - - - - - - - -
 * FILE: _grids.scss
 */
/* Setting up the Magic Grid */
.row {
  max-width: 59em;
  margin-left: auto;
  margin-right: auto;
  height: inherit;
  position: relative;
  border-top: 3em solid transparent;
  margin-top: -3em;
}
.row::after {
  content: " ";
  display: block;
  clear: both;
}

header {
  z-index: 5;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  width: 100%;
  float: left;
}
header::after {
  content: " ";
  display: block;
  clear: both;
}
header h1 {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
}

nav {
  z-index: 6;
  width: 32.20339%;
  float: right;
}
nav li {
  width: 25%;
  float: left;
}

section {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  width: 100%;
  float: left;
  border-top: 3em solid transparent;
  margin-top: -2.6em;
}
section::after {
  content: " ";
  display: block;
  clear: both;
}

#about {
  z-index: 4;
}
#about .col1 {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
  border-top: 3em solid transparent;
  margin-top: -3em;
  height: inherit;
  position: relative;
}
#about .col2 {
  width: 32.20339%;
  float: right;
  border-top: 3em solid transparent;
  margin-top: -3em;
  height: inherit;
  position: relative;
}

#work {
  z-index: 3;
}

#contact {
  z-index: 2;
}

footer {
  z-index: 1;
}

/* Setting the Breakpoints */
/* - - - local partials assembly - - - - - - - - - - - - - - - - - - - -
 * FILE: _transitions.scss
 */
.loaded .bubble {
  -moz-transform: scale();
  -ms-transform: scale();
  -webkit-transform: scale();
  transform: scale();
}

/* - - - local partials assembly - - - - - - - - - - - - - - - - - - - -
 * FILE: _typography.scss
 */
.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

/* Typography resets */
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

/* Default Link Styles */
a {
  color: #008cba;
  text-decoration: none;
  line-height: inherit;
}
a:hover, a:focus {
  color: #0078a0;
}
a img {
  border: none;
}

/* Default paragraph styles */
p {
  font-family: inherit;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  text-rendering: optimizeLegibility;
}
p.lead {
  font-size: 1.21875rem;
  line-height: 1.6;
}
p aside {
  font-size: 0.875rem;
  line-height: 1.35;
  font-style: italic;
}

/* Default header styles */
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #222222;
  text-rendering: optimizeLegibility;
  page-break-after: avoid;
  margin-top: 0.2rem;
  margin-bottom: 0.4rem;
  line-height: 1.4;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: 60%;
  color: #6f6f6f;
  line-height: 0;
}

h1 {
  font-size: 2.125rem;
}

h2 {
  font-size: 1.6875rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

.subheader {
  line-height: 1.4;
  color: #6f6f6f;
  font-weight: normal;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

hr {
  border: solid silver;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25rem 0 1.1875rem;
  height: 0;
}

/* Helpful Typography Defaults */
em,
i {
  font-style: italic;
  line-height: inherit;
}

strong,
b {
  font-weight: bold;
  line-height: inherit;
}

small {
  font-size: 60%;
  line-height: inherit;
}

code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: bold;
  color: #bd260d;
}

/* Lists */
ul,
ol,
dl {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  list-style-position: outside;
  font-family: inherit;
}

ul {
  margin-left: 1.1rem;
}
ul.no-bullet {
  margin-left: 0;
}
ul.no-bullet li ul,
ul.no-bullet li ol {
  margin-left: 1.25rem;
  margin-bottom: 0;
  list-style: none;
}

/* Unordered Lists */
ul li ul,
ul li ol {
  margin-left: 1.25rem;
  margin-bottom: 0;
}
ul.square li ul, ul.circle li ul, ul.disc li ul {
  list-style: inherit;
}
ul.square {
  list-style-type: square;
  margin-left: 1.1rem;
}
ul.circle {
  list-style-type: circle;
  margin-left: 1.1rem;
}
ul.disc {
  list-style-type: disc;
  margin-left: 1.1rem;
}
ul.no-bullet {
  list-style: none;
}

/* Ordered Lists */
ol {
  margin-left: 1.4rem;
}
ol li ul,
ol li ol {
  margin-left: 1.25rem;
  margin-bottom: 0;
}

/* - - - local partials assembly - - - - - - - - - - - - - - - - - - - -
 * FILE: _media.scss
 */
.media {
  position: relative;
  padding-top: 30px;
  padding-bottom: 56.25%;
  height: 0;
  height: auto;
  max-width: 100%;
  margin-bottom: 1em;
  overflow: hidden;
}

.media.widescreen {
  padding-bottom: 45%;
}

.media iframe,
.media object,
.media embed,
.media video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  background-color: transparent;
}

.media img {
  position: absolute;
  top: -1000000%;
  right: -1000000%;
  bottom: -1000000%;
  left: -1000000%;
  margin: auto;
  width: 100%;
}

/*
 * END LOCAL PARTIALS ASSEMBLY
 * ---------------------------------------------------------------------------------------------------
 * BEGIN CUSTOM STYLES
 */
body {
  margin-top: 3em;
}

header {
  background: #eeeeee;
  border-top: 6px #000 solid;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3em;
  padding-bottom: 3em;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
header.compact {
  height: 3em;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
header h1 {
  font-family: "Gotham", "Century Gothic", "Tw Cen MT", Futura, "URW Gothic L", Arial, sans-serif;
  font-weight: 800;
  font-size: 2.75rem;
  line-height: 2.5rem;
  margin: 0;
}
header .icon-GN {
  font-size: 1.25em;
  line-height: 0.6;
  margin: 0 -0.1em 0 -0.25em;
  color: rgba(27, 60, 89, 0.82);
  text-shadow: 1px 2px 2px #eeeeee, 0 0 0 black, 1px 2px 2px #eeeeee;
}

nav {
  background: #000;
}
nav ul {
  width: 100%;
}
nav li {
  display: inline;
  text-align: center;
}
nav li:hover, nav li:focus {
  cursor: pointer;
}
nav li.selected {
  background: #008cba;
}
nav li.selected a {
  color: #fff;
}
nav li.selected a:hover, nav li.selected a:focus {
  color: #fff;
}
nav li.external {
  background: #eee;
}

section h1 {
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}
section p {
  text-align: justify;
  font-family: Georgia, Times, "Times New Roman", serif;
}

#about {
  overflow: hidden;
  height: 23.25em;
  position: relative;
  background: url(../img/hexnoise.png) fixed 0 0 repeat, #1b3c59;
}

.bubble {
  margin: 0.7em;
}
.bubble h1 {
  font-family: "Gotham", "Century Gothic", "Tw Cen MT", Futura, "URW Gothic L", Arial, sans-serif;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
  margin: 5% 0 0 0.5em;
  line-height: .75;
  font-size: 1.4em;
  text-transform: uppercase;
}
.bubble p {
  font-family: "SourceSansPro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  padding: 0.5em;
  position: relative;
  top: 15%;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.8);
}
.bubble p:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  right: -2em;
  margin-top: 0.4%;
  border: 1em solid;
  border-color: transparent transparent rgba(255, 255, 255, 0.8) rgba(255, 255, 255, 0.8);
}

#about .col2 img {
  max-height: 18em;
  width: auto;
  position: absolute;
  bottom: 0;
  right: 0;
}
