/* SCSS compiled with Compass
 * This file defines custom screen styles. */

// Make sure the charset is set appropriately
@charset "UTF-8";

@import "partials/base";

// Set custom site styles here:
$header-height: 3.5em;
$bubble-bg:        rgba(255,255,255,0.8);
$about-color:      rgb(1, 162, 117);
$work-color:       rgb(0, 140, 186);
$work-bg-color:    $body-bg;
$contact-color:    rgb(201, 99, 99);
$contact-bg-color: rgb(34, 34, 34);
$blog-color:       rgb(67, 103, 158);

header {
  margin: 0;
  padding: 0;
  //height: $header-height;
  //height: 1.96em;
  background: $body-bg;
  border-top: $top-border-height #eee solid;
  @include transition(border-top 0.2s linear);
  //@include box-shadow(0px 0px 5px 0px rgba(50, 50, 50, 0.50));
  &.about {
    border-top: $top-border-height $about-color solid;
    @include transition(border-top 0.2s linear);
  }
  &.work {
    border-top: $top-border-height $work-color solid;
    @include transition(border-top 0.2s linear);
  }
  &.contact {
    border-top: $top-border-height $contact-color solid;
    @include transition(border-top 0.2s linear);
  }
  &.blog {
    border-top: $top-border-height $blog-color solid;
    @include transition(border-top 0.2s linear);
  }
  h1 {
    margin: 0;
    padding: 0.07em 0;
    padding: 0.1em 0 0.15em 0;
    font-family: $gotham-font-stack;
    color: $header-font-color;
    font-size: 1.7em;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 1;
    text-align: center;
    @include text-shadow(rgba(255, 255, 255, 1) -1px 1px 0, rgb(33,77,114) -2px 2px 0);
    //font-size: 2.75rem;
    //line-height: 2.5rem;
  }
  [data-icon='\f100'] {
    font-size: 1.25em;
    line-height: 0;
    margin: 0 -0.13em 0 -0.27em;
    //@include text-shadow(0px 1px 1px rgba(255, 255, 255, 1));
    @include text-shadow(0 -0.5px 1px rgb(163,163,163)); //rgb(117, 122, 128) //rgb(178,181,184)
    //color: rgb(26, 74, 116);
    //color: $body-bg; //rgba(27,60,89,0.82);
    //@include text-shadow(1px 2px 2px $body-bg, 0 0 0 #000, 1px 2px 2px $body-bg);
  }
}

// Navigation
nav {
  li {
    display: inline-block;
    text-align: center;
    @include transition(background 0.2s linear);
    &:hover, &:focus {
      cursor: pointer;
    }
    a {
      font-family: $gotham-font-stack;//$sourcesanspro-font-stack;
      text-transform: uppercase;
      font-weight: 700;
      color: rgb(26, 74, 116);
      padding: 0;
    }
    a:hover, a:focus {
      background: none;
      text-decoration: none;
    }
    &.selected {
      &:nth-of-type(1) {
      background: $about-color;
      @include transition(background 0.2s linear);
      }
      &:nth-of-type(2) {
      background: $work-color;
      @include transition(background 0.2s linear);
      }
      &:nth-of-type(3) {
      background: $contact-color;
      @include transition(background 0.2s linear);
      }
      &:nth-of-type(4) {
        background: $blog-color;
        @include transition(background 0.2s linear);
      }
      a {
        color: #eee;
        &:hover, &:focus {
          color: #eee;
          background: none;
          text-decoration: none;
        }
      }
    }
    &.external {
      a:hover, a:focus {
        background: none;
        text-decoration: none;
      }
    }
  }
}

#about {
  //background: url(../img/bg.jpg) fixed 33% 0 no-repeat;
  //@include background-size(cover);
  background: url(../img/graphpaper.png) scroll 0 0 repeat, rgba(14, 67, 97, 1);
  //background: url(../img/hexnoise.png) fixed 0 0 repeat, rgba(14, 67, 97, 1); //rgba(22,104,150,1);
              //orange: 208,51,27, light blue: 10,83,146 or LOGO COLOR: 27,60,89,1 !!similar: 34,53,70
  @include box-shadow(inset 0 0 400px 0 rgba(0,0,0,0.8));
  overflow: hidden;
  width: 100%;
  height: auto;
  padding: 2%;
  text-align: center;
  //  background-image: url(../img/hexnoise.png),url(../img/background.jpg);
  //  @include background-size(auto, cover);
  //  background-attachment: scroll, fixed;
  //  background-position: 0 0, 0 0;
  //  background-repeat: repeat,no-repeat;
  .tagline {
    margin: 0.5em 0;
    span {
      font-family: $gotham-font-stack;
      font-weight: 700;
      font-size: 1.33em;
      text-transform: uppercase;
      color: $header-font-color;//$paragraph-light-color;
      vertical-align: middle;
      letter-spacing: 0.1em;
      @include text-shadow(0px 0px 0 rgb(150,150,150), -0.2px 0.2px 0 white, -0.5px 0.5px 0 white, -1px 1px 0 white, -1.5px 1.5px 0 white, -1px 1px 0 white, -2px 2px 0 white);
    }
  }
  img {
    height: auto;
    border-radius: 50%;
    margin: 0 2%;
  }
  p {
    margin: 0;
    color: $paragraph-light-color; //rgb(235, 235, 235);//rgb(34, 34, 34); //rgb(238, 238, 238);
    text-align: center;
    &:nth-of-type(1) {
      font-family: $sourcesanspro-font-stack;
      font-weight: 400;
      line-height: 1.4;
      padding: 0.4em 0;
      position: relative;
      top: 15%;
      font-size: 2.5em;
      //@include box-shadow(10px 10px 0 1px rgba(255,255,255,0.8));
      //border: 8px solid #666;
      //@include border-radius(7px);
      //@include box-shadow(rgba(150,150,150,.3) 0 0 100px 0 inset);
      strong {
        text-transform: none;
        font-weight: 700;
        color: $about-color;//scale-color($about-color, $lightness: -25%);
      }
    }
    &:nth-of-type(2) {
    //  border-top: rgba(124, 124, 124, 1) 1px dotted;
      padding: 0.5em 0.75em 0.3em;
      font-size: 1.1em;
      i {
        color: $about-color;
      }
      //strong {
      //  color: rgb(0, 114, 96); //rgba(0, 145, 104, 1); need to make a little darker because of lighter backgorund opacity
      //  font-style: italic;
      //  font-weight: 400;
      //}
      a {
      //  background-color: rgba(255,255,255,0.5);
        white-space: nowrap;
      }
    }
  }
}

// Sections
section {
  //h1 {
    //font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  //}
  p {
    text-align: justify;
    font-family: Georgia, Times, "Times New Roman", serif;
  }
}

// Setting Up Box Grid!

@mixin rowMachine($numPerRow, $boxMargin) {
  $square: ((99% - (($numPerRow) * $boxMargin)) / $numPerRow);
  width: $square;
  margin: ($boxMargin / 2);
  @include transition(margin 0.1s ease, width 0.1s ease);
  &:nth-child(n) {
    margin: ($boxMargin / 2);
    &:hover {
      width: $square + 1;
      margin: (($boxMargin / 2) - 0.5);
      @include transition(margin 0.1s ease, width 0.1s ease);
    }
  }
  &:nth-child(#{$numPerRow}n) {
    margin-right: auto;
  }
}

#work {
  background-color: $work-bg-color;//rgb(34, 34, 34);
  position: relative;
  @media (min-width: 20em) { // 1 up
    padding: 5% 8% 7%; //half of below "rowMachine" padding //coencides with the padding of the boxes below
  }
  @media (min-width: 43.750em) { //2 up
    padding: 4% 4%;
  }
  @media (min-width: 53.125em) { // 3 up
    padding: 3% 6%;
  }
  @media (min-width: 75em) { // 4 up
    padding: 2% 4%;
  }
  @media (min-width: 100em) { // 5 up
    padding: 1% 3%;
  }

  a.box {
    padding: 0;
  }

  .box {
    display: inline-block;
    position: relative;
    max-width: 23.625em;
    border: 1px solid rgb(255, 255, 255);
    @include box-shadow(0px 1px 3px rgba(0, 0, 0, 0.5));
    @media (min-width: 20em) { // 1 up
      @include rowMachine(1, 15%);
      &:nth-child(1n) {
        margin-left: auto;
      }
    }
    @media (max-width: 27.438em) { //make it float center when only 1 in line
      display: block;
    }
    @media (min-width: 27.5em) { //2 up //coencides with padding above
      @include rowMachine(2, 7%);
    }
    @media (min-width: 53.125em) { //3 up
      @include rowMachine(3, 3.5%);
    }
    @media (min-width: 75em) { //4 up
      @include rowMachine(4, 3.5%);
    }
    @media (min-width: 100em) { // 5 up
      @include rowMachine(5, 3%)
    }

    // Scale image equally
    img {
      max-width: 100%;
    }
  }

  .caption {
    background: rgba(0,0,0, 0.77);
    position: absolute;
    display: table;
    top: 70%;
    left: 0;
    right: 0;
    width: 100.5%;
    padding: 2% 1%;
    height: 3.125em;
    overflow: hidden;
    h2 {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      font-family: $sourcesanspro-font-stack;
      font-size: 1.5em;
      font-weight: 400;
      line-height: 1;
      letter-spacing: 0.01em;
      color: $body-bg; //rgb(32, 174, 221); //matching blue
      text-shadow: rgba(35,35,35, 0.8) -0.5px 1px 0;
      @include transition(font-size 0.05s ease);
    }
  }

  .young {

  }

  .whitehall {

  }

  .loso {

  }

  .udress {

  }

  .delride {

  }

  .backcountry {

  }

  .edgemoor {

  }

  .queen {

  }
}

#contact {
  background-color: $contact-bg-color;
}

footer {
  background: url(../img/hexnoise.png) fixed 0 0 repeat, rgb(46, 46, 46);
  @include box-shadow(inset 0 0 200px 0 rgba(0,0,0,0.8));
  p {
    text-align: center;
    color: rgba(255, 255, 255, 0.18);
    margin: 0;
  }
}

@import "partials/mediaqueries";