/* SCSS compiled with Compass
 * This file defines custom screen styles. */

// Make sure the charset is set appropriately
@charset "UTF-8";

@import "partials/base";

// Set custom site styles here:
$header-height: 3.5em;
$bubble-bg:        rgba(255,255,255,0.8);
$about-color:      rgb(78, 177, 136);//rgb(53,151,156)rgb(57,166,121);//rgb(1, 162, 117);
$about-bg-color:   rgb(40,80,115);//rgb(50,90,130);//rgb(42,85,130);rgb(38,76,117);//rgb(46, 93, 143);//rgb(56, 93, 143);//rgb(46, 76, 117);rgb(66, 109, 169);//rgb(14, 67, 97);
$pitch-shadow-d:   -1px;
$discl-shadow-d:   -0.2px;
$skills-bg-color:  rgb(44, 44, 44);
$skills-txt-color: rgb(220,220,220);
$work-color:       rgb(0, 140, 186);
$work-bg-color:    $body-bg;
$contact-color:    rgb(201, 99, 99);
$contact-bg-color: rgb(34, 34, 34);
$blog-color:       rgb(67, 103, 158);


%brdr-about {
    border-top: $top-border-height $about-color solid;
}
%brdr-work {
    border-top: $top-border-height $work-color solid;
}
%brdr-contact {
    border-top: $top-border-height $contact-color solid;
}
%brdr-blog {
    border-top: $top-border-height $blog-color solid;
}

//Mixins:
@mixin topBorder($section) {
  &.#{$section} {
    @extend %brdr-#{$section};
    @include transition(border-top 0.2s linear);
  }
}

header {
  margin: 0;
  padding: 0;
  //height: $header-height;
  //height: 1.96em;
  background: $body-bg;
  border-top: $top-border-height #eee solid;
  @include transition(border-top 0.2s linear);
  //@include box-shadow(0px 0px 5px 0px rgba(50, 50, 50, 0.50));

  @include topBorder(about);
  @include topBorder(work);
  @include topBorder(contact);
  @include topBorder(blog);

  h1 {
    margin: 0;
    padding: 0.07em 0;
    padding: 0.1em 0 0.15em 0;
    font-family: $gotham-font-stack;
    color: $header-font-color;
    font-size: 1.7em;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 1;
    text-align: center;
    @include text-shadow(rgba(255, 255, 255, 1) -1px 1px 0, rgb(33,77,114) -2px 2px 0);
    //font-size: 2.75rem;
    //line-height: 2.5rem;
  }
  [data-icon='\f100'] {
    font-size: 1.25em;
    line-height: 0;
    margin: 0 -0.13em 0 -0.27em;
    //@include text-shadow(0px 1px 1px rgba(255, 255, 255, 1));
    @include text-shadow(0 -0.5px 1px rgb(163,163,163)); //rgb(117, 122, 128) //rgb(178,181,184)
    //color: rgb(26, 74, 116);
    //color: $body-bg; //rgba(27,60,89,0.82);
    //@include text-shadow(1px 2px 2px $body-bg, 0 0 0 #000, 1px 2px 2px $body-bg);

    // Transition
    position: relative;
    @include transition-duration(.6s);
    @include transition-property(transform);
    overflow:hidden;
    &:hover, &:focus, &:active {
      @include transform(rotateY( 360deg ));
    }
    // /Transition
  }
}


//NAV MIXINS
@mixin navLinks($n,$c) {
  &:nth-of-type(#{$n}) {
    @include box-shadow(inset $c 0px 0px 0);
    &:hover, &:focus {
      @include box-shadow(inset $c 0px 2em 0);
      & a {
        color: $body-bg;
      }
    }
    &.selected {
      @include box-shadow(inset $c 0px 2em 0);
      & a {
        color: $body-bg;
      }
    }
  }
}

// Navigation
nav {
    max-width: 6.5em * 4; //4 is how many nav items //6.5em is just a good looking width to cap it at. overrides media query
  li {
    text-align: center;
    @include transition(color 0.2s linear, box-shadow 0.3s ease);
    //&:hover, &:focus { //Misleading...
    //  cursor: pointer;
    //}
    a {
      max-width: 6.5em; //6.5em is just a good looking width to cap it at
      font-family: $gotham-font-stack;//$sourcesanspro-font-stack;
      text-transform: uppercase;
      font-weight: 700;
      color: rgb(26, 74, 116);
      padding: 0;
      border: none;
      display: inline-block;
      &:hover, &:focus {
        background: none;
        text-decoration: none;
        color: $body-bg;
      }
    }

    @include navLinks(1,$about-color);
    @include navLinks(2,$work-color);
    @include navLinks(3,$contact-color);
    @include navLinks(4,$blog-color);

  }
}

.middle {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#about {
  background: url(../img/graph-pattern.png) fixed 0 0 repeat, $about-bg-color;
  padding: 0 0 40px 0; //40 px for  the bottom border
  //text-align: center; //part of .middle
  overflow: hidden;
  //height: 100%;
  min-height: 100%;
  display: table;
  //  background-image: url(../img/hexnoise.png),url(../img/background.jpg);
  //  @include background-size(auto, cover);
  //  background-attachment: scroll, fixed;
  //  background-position: 0 0, 0 0;
  //  background-repeat: repeat,no-repeat;
  .tagline {
    margin: 1em 0;
    span {
      font-family: $gotham-font-stack;
      font-weight: 700;
      font-size: 1.33em;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      color: $about-bg-color;
      vertical-align: middle;
      position: relative;
      top: 0.2em;
      background-color: rgb(255, 255, 255);
      &:nth-of-type(1){
        padding: 0.3em 0.5em;
        margin-right: -1.5px;
        &:before {
          position: absolute;
          content: "";
          border: 0.89em solid rgb(255, 255, 255);
          border-left-color: transparent;
          left: -1.6em;
          top: 0.3em;
        }
      }
      &:nth-of-type(2) {
        padding: 0.3em 0.7em;
        margin-left: -1px;
        &:after {
          position: absolute;
          content: "";
          border: 0.89em solid rgb(255, 255, 255);
          border-right-color: transparent;
          right: -1.6em;
          top: 0.3em;
        }
      }
    }
    img {
      height: auto;
      border-radius: 50%;
      margin: 0 -0.15em 0 -0.1em;
      position: relative;
      z-index: 1;
    }
  }

  p {
    @include textStyle($paragraph-light-color, $pitch-shadow-d);
    font-family: $sourcesanspro-font-stack;
    font-weight: 400;
    line-height: 1.3;
    font-size: 2.5em;
    margin: 1em 1em;
    a { //asterisk
      font-family: $heuristica-font-stack;
      @include textStyle(scale-color($anchor-font-color, $lightness: 15%), $pitch-shadow-d);
      border: none;
      font-size: 1.2em;
      line-height: 0;
    }
    strong {
      font-weight: 700;
      text-transform: none;
      @include textStyle($about-color, $pitch-shadow-d);
    }
  }
  //  img {
  //    max-width: 259px;
  //    padding: 3% 0 3%;
  //    margin: 0;
  //  }

  //arrow effect
  &:before {
    position: absolute;
    width: 50%;
    left: 0;
    bottom: 0;
    content: "";
    border-style: solid;
    border-width: 0px 40px 40px 0px;
    border-color: transparent transparent rgb(50, 50, 50) transparent;
    @include box-shadow(inset 0 5px 20px -10px rgb(40,40,40));
  }
  &:after {
    position: absolute;
    width: 50%;
    right: 0;
    bottom: 0;
    content: "";
    border-style: solid;
    border-width: 0px 0px 40px 40px;
    border-color: transparent transparent rgb(50, 50, 50) transparent;
    @include box-shadow(inset 0 5px 20px -10px rgb(40,40,40));
  }
}

#slug {
  margin: 0;
  padding: 1.5em 1em;
  background: rgb(50,50,50);//rgba(20,40,60, 0.4);
  text-align: center;
  //@include transition(background 500ms ease);
  p {
    @include textStyle($paragraph-light-color, $discl-shadow-d);
    max-width: 40em;
    margin: 0 auto 0.6em;
    font-size: 1.2em;
    line-height: 1.45;
    letter-spacing: 0.025em;
    &:first-child { //zoom effect when asterisk clicked
      @include transition(transform 300ms linear);
      &.highlight {
        @include transform(scale(1.02));
        //background: rgb(54,55,41);//scale-color($skills-bg-color, $lightness: 10%);
      }
    }
    a {
      @include textStyle($anchor-font-color, $pitch-shadow-d);
    }
    > span:first-child { //asterisk
        font-size: 1.8em;
        @include textStyle($skills-txt-color, $pitch-shadow-d);//rgb(181,91,40));
        line-height: 0;
        vertical-align: middle;
      }
    &:nth-of-type(1) {
      font-size: 1.4em;
      i {
        width: 100%;
        display: block;
        margin-top: .3em;
        font-style: italic;
        //background-color: rgba(70,69,74, 0.7);//rgb(253, 253, 154);
        @include textStyle($about-color, $pitch-shadow-d);//@include textStyle(rgb(181,91,40));
      }
    }
  }
  hr {
    padding: 0;
    max-width: 40em;
    margin: 1em auto;
  }
}
#skills {
  background: $body-bg;
}

#work {
  background-color: $work-bg-color;//rgb(34, 34, 34);
  position: relative;
  width: 100%;
  figure {
    display: inline-block;
    position: relative;
    max-width: 23.625em;
    border-color: rgb(255,255,255); //hover color fix
    vertical-align: top;
    a {
        padding: 0;
        border: 1px solid rgb(255, 255, 255);
        @include box-shadow(0px 2px 3px 0 rgb(200,200,200));
        display: block;
        position: relative;
        // Transition
        @include transition(transform 0.2s linear);
        overflow:hidden;
        &:hover {
          @include transform(scale(1.05));
          figcaption {
            @include transform(translate(0, 200%));
            @include opacity(0);
          }
        }
        // /Transition
    }
    img {
      max-width: 100%;     // Scale image equally
    }
    p {
    color: rgb(85,85,85);
    line-height: 1.2;
    padding-top: 0.5em;
    margin: 0;
    text-shadow: rgb(200,200,200) -0.1px -0.1px 0;
    vertical-align: top;
    span {
      float: right;
      margin-left: 0.9em;
      font-weight: 400;
      @include textStyle(rgb(238, 238, 238), $pitch-shadow-d);
      padding: 0 0.2em 0 0.25em;
      letter-spacing: 0.03em;
      // border: solid rgba(151, 151, 151, 0.88);
      // border-width: 0 0 1px 0;
      border-radius: 3px;
      background: rgb(165, 165, 165);//rgb(96, 147, 202);//rgb(83, 170, 199);///rgb(99, 154, 214);
    }
    }
  }
  figcaption {
    background-color: rgba(0,0,0, 0.77);
    position: absolute;
    bottom: 15%;
    left: 0;
    right: 0;
    width: 100%;
    padding: 3% 2%;
    overflow: hidden;
    opacity: 1;
    text-align: center;
    font-family: $sourcesanspro-font-stack;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.02em;
    text-transform: none;
    color: rgb(250, 250, 250);
    text-shadow: rgb(0, 0, 0) -1px 0.5px 0;
    @include transition(transform 0.3s ease-out, opacity 0.4s ease-out, font-size 0.05s ease);
  }
}

#contact {
  background-color: $contact-bg-color;
}

footer {
  p {
    text-align: center;
    color: rgba(255, 255, 255, 0.18);
    margin: 0;
  }
}

@import "partials/mediaqueries";