/* SCSS compiled with Compass
 * This file defines custom screen styles. */

// Make sure the charset is set appropriately
@charset "UTF-8";

@import "partials/base";

// Set custom site styles here:

header {
  background-color: #eee;
  h1 {
    font-family: "Century Gothic", "Tw Cen MT", Futura, "URW Gothic L", Arial, sans-serif;
    font-size: 2.75rem;
    line-height: 2.5rem;
    margin: 0;
  }
}

nav {
  ul {
    width:100%;
  }
  li {
    display: inline;
    // padding-right: span(2/2);
    text-align: center;
  }
}
.selected {
  color: black;
}

section {
  h1 {
    font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  }
  p {
    text-align: justify;
    font-family: Georgia, Times, "Times New Roman", serif;
  }
}

#about {
  background-color: #626564;
}

#work {
  background-color: #b9394e;
}

#contact {
  background-color: #153987;
}