/* SCSS compiled with Compass
 * This file defines custom screen styles. */

// Make sure the charset is set appropriately
@charset "UTF-8";

@import "partials/base";

// Set custom site styles here:
$header-height: 3.5em;
$bubble-bg:     rgba(255,255,255,0.8);
$about-color:   rgb(1, 162, 117);
$work-color:    rgb(0, 140, 186);
$contact-color: rgb(201, 99, 99);
$blog-color:    rgb(67, 103, 158);

header {
  margin: 0;
  padding: 0;
  //height: $header-height;
  //height: 1.96em;
  background: $body-bg;
  border-top: $top-border-height #eee solid;
  @include transition(border-top 0.2s linear);
  //@include box-shadow(0px 0px 5px 0px rgba(50, 50, 50, 0.50));
  &.about {
    border-top: $top-border-height $about-color solid;
    @include transition(border-top 0.2s linear);
  }
  &.work {
    border-top: $top-border-height $work-color solid;
    @include transition(border-top 0.2s linear);
  }
  &.contact {
    border-top: $top-border-height $contact-color solid;
    @include transition(border-top 0.2s linear);
  }
  &.blog {
    border-top: $top-border-height $blog-color solid;
    @include transition(border-top 0.2s linear);
  }
  h1 {
    margin: 0;
    padding: 0.07em 0;
    font-family: $gotham-font-stack;
    color: $header-font-color;
    font-size: 1.7em;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 1;
    text-align: center;
    @include text-shadow(rgba(255, 255, 255, 1) -1px 1px 0, rgb(33,77,114) -2px 2px 0);
    //font-size: 2.75rem;
    //line-height: 2.5rem;
  }
  [data-icon='\f100'] {
    font-size: 1.25em;
    line-height: 0;
    margin: 0 -0.13em 0 -0.27em;
    @include text-shadow(0px 1px 1px rgba(255, 255, 255, 1));
    //color: rgb(26, 74, 116);
    //color: $body-bg; //rgba(27,60,89,0.82);
    //@include text-shadow(1px 2px 2px $body-bg, 0 0 0 #000, 1px 2px 2px $body-bg);
  }
}

// Navigation
nav {
  li {
    display: inline-block;
    // padding-right: span(2/2);
    text-align: center;
    @include transition(background 0.2s linear);
    &:hover, &:focus {
      cursor: pointer;
    }
    a {
      font-family: $gotham-font-stack;//$sourcesanspro-font-stack;
      text-transform: uppercase;
      font-weight: 700;
      color: rgb(26, 74, 116);
      padding: 0;
    }
    a:hover, a:focus {
      background: none;
      text-decoration: none;
    }
    &.selected {
      &:nth-of-type(1) {
      background: $about-color;
      @include transition(background 0.2s linear);
      }
      &:nth-of-type(2) {
      background: $work-color;
      @include transition(background 0.2s linear);
      }
      &:nth-of-type(3) {
      background: $contact-color;
      @include transition(background 0.2s linear);
      }
      &:nth-of-type(4) {
        background: $blog-color;
        @include transition(background 0.2s linear);
      }
      a {
        color: #eee;
        &:hover, &:focus {
          color: #eee;
          background: none;
          text-decoration: none;
        }
      }
    }
    &.external {
      a:hover, a:focus {
        background: none;
        text-decoration: none;
      }
    }
  }
}

#about {
  //background: url(../img/bg.jpg) fixed 33% 0 no-repeat;
  //@include background-size(cover);
  background: url(../img/graphpaper.png) scroll 0 0 repeat, rgba(14, 67, 97, 1);
  //background: url(../img/hexnoise.png) fixed 0 0 repeat, rgba(14, 67, 97, 1); //rgba(22,104,150,1);
              //orange: 208,51,27, light blue: 10,83,146 or LOGO COLOR: 27,60,89,1 !!similar: 34,53,70
  @include box-shadow(inset 0 0 400px 0 rgba(0,0,0,0.8));
  overflow: hidden;
  width: 100%;
  height: auto;
  padding: 2%;
  text-align: center;
  //  background-image: url(../img/hexnoise.png),url(../img/background.jpg);
  //  @include background-size(auto, cover);
  //  background-attachment: scroll, fixed;
  //  background-position: 0 0, 0 0;
  //  background-repeat: repeat,no-repeat;
  img {
    height: auto;
    border-radius: 50%;
  }
  p {
    margin: 0;
    color: rgb(235, 235, 235);//rgb(34, 34, 34); //rgb(238, 238, 238);
    text-align: center;
    &:nth-of-type(1) {
      font-family: $sourcesanspro-font-stack;
      font-weight: 600;
      line-height: 1.4;
      padding: 0.4em 0;
      position: relative;
      top: 15%;
      @media (min-width: 0px) {
      font-size: 1.6em;
      }
      @media (min-width: 900px) {
      font-size: 2.5em;
      }
      //@include box-shadow(10px 10px 0 1px rgba(255,255,255,0.8));
      //border: 8px solid #666;
      //@include border-radius(7px);
      //@include box-shadow(rgba(150,150,150,.3) 0 0 100px 0 inset);
      strong {
        text-transform: none;
        font-weight: 700;
        color: $about-color;//scale-color($about-color, $lightness: -25%);
      }
    }
    &:nth-of-type(2) {
    //  border-top: rgba(124, 124, 124, 1) 1px dotted;
      padding: 0.5em 0.75em 0.3em;
      font-size: 1.1em;
      i {
        color: $about-color;
      }
      //strong {
      //  color: rgb(0, 114, 96); //rgba(0, 145, 104, 1); need to make a little darker because of lighter backgorund opacity
      //  font-style: italic;
      //  font-weight: 400;
      //}
      a {
      //  background-color: rgba(255,255,255,0.5);
        white-space: nowrap;
      }
    }
  }
}

// Sections
section {
  //h1 {
    //font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  //}
  p {
    text-align: justify;
    font-family: Georgia, Times, "Times New Roman", serif;
  }
}

// Setting Up Box Grid!

@mixin rowMachine($numPerRow, $boxMargin) {
  width: ((100% - (($numPerRow - 1) * $boxMargin)) / $numPerRow);
  margin-right: $boxMargin;
  &:nth-child(n) {
    margin-right: $boxMargin;
    margin-bottom: $boxMargin/2;
    margin-top: $boxMargin/2
  }
  &:nth-child(#{$numPerRow}n) {
    margin-right: 0;
  }
}

#work {
  background-color: #222;
  padding: 2%;
  .box {
    @include rowMachine(5, 2%);
    background: white;
    padding: 20px;
    float: left;

    @media (max-width: 1400px) {
      @include rowMachine(4, 2%);
    }
    @media (max-width: 1000px) {
      @include rowMachine(3, 2%);
    }
    @media (max-width: 700px) {
      @include rowMachine(2, 3%);
    }
    @media (max-width: 450px) {
      :nth-child(n) {
      width: 80%;
      margin: 10% 10%;
      }
    }

    &:before {
      content: " ";
      display: block;
      padding-top: 100%;
    }

    img {
      max-width: 100%;
    }
  }
  .young {

  }
  .whitehall {

  }
  .loso {

  }
  .udress {

  }
  .delride {

  }
  .backcountry {

  }
  .edgemoor {

  }
  .queen {

  }
}

#contact {
}
footer {
  background: url(../img/hexnoise.png) fixed 0 0 repeat, rgb(46, 46, 46);
  @include box-shadow(inset 0 0 200px 0 rgba(0,0,0,0.8));
  p {
    text-align: center;
    color: rgba(255, 255, 255, 0.18);
    margin: 0;
  }
}

@import "partials/mediaqueries";