/* SCSS compiled with Compass
 * This file defines custom screen styles. */

// Make sure the charset is set appropriately
@charset "UTF-8";

@import "partials/base";

// Set custom site styles here:
$compact-header-height: 3em;
$bubble-bg: rgba(255,255,255,0.8);
$logo-color: rgba(27,60,89,0.82);
$header-bgcolor: #eee;

body {
  margin-top: $compact-header-height;
}

header {
  background: $header-bgcolor;
  border-top: 6px #000 solid;
  position: fixed; // keep on top of window
  top: 0;
  left: 0;
  right: 0;
  height: $compact-header-height;
  padding-bottom: $compact-header-height;
  @include transition(compact(all 0.5s ease));
  &.compact {
    height: $compact-header-height;
    @include transition(compact(all 0.5s ease));
  }
  h1 {
    font-family: $gotham-font-stack;
    font-weight: 800;
    font-size: 2.75rem;
    line-height: 2.5rem;
    margin: 0;
  }

  [data-icon='\f100'] {
    font-size: 1.25em;
    line-height: 0.6;
    margin: 0 -0.2em 0 -0.05em;
    color: $logo-color;
    @include text-shadow(1px 2px 2px $header-bgcolor, 0 0 0 #000, 1px 2px 2px $header-bgcolor);
  }
}

// Navigation
nav {
  font-family: $sourcesanspro-font-stack;
  font-weight: 400;
  background: #000;
  ul {
    width:100%;
  }
  li {
    display: inline;
    // padding-right: span(2/2);
    text-align: center;
    &:hover, &:focus {
      cursor: pointer
    }
    &.selected {
      background: #008cba;
      a {
        color: #fff;
        &:hover,
        &:focus {
          color: #fff;
        }
      }
    }
    &.external {
      background: #eee;
    }
  }
}

// Sections
section {
  // Necessary for loading on right place when page is called from hash (http://goo.gl/2rNgyB)
  // overrides "offset" function in waypoints.js
  //padding-top: $compact-header-height;
  //margin-top: -$compact-header-height;
  h1 {
    font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  }
  p {
    text-align: justify;
    font-family: Georgia, Times, "Times New Roman", serif;
  }
}

#about {
  background: rgba(22,104,150,1); //url(../img/hexnoise.png) fixed 0 0 repeat
  background-attachment: fixed;
              //orange: 208,51,27, light blue: 10,83,146 or LOGO COLOR: 27,60,89,1 !!similar: 34,53,70
  @include box-shadow(inset 0 0 400px 0 rgba(0,0,0,0.8));
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 23.25em;
  //.background {
  //  background-image: url(../img/hexnoise.png),url(../img/background.jpg);
  //  @include background-size(auto, cover);
  //  background-attachment: scroll, fixed;
  //  background-position: 0 0, 0 0;
  //  background-repeat: repeat,no-repeat;
  //}
}

.bubble {
  margin: 0.7em;
  h1 {
    font-family: $gotham-font-stack;
    font-weight: 600;
    color: $bubble-bg;
    margin: 5% 0 0 0.5em;
    line-height: .75;
    font-size: 1.4em;
    text-transform: uppercase;
  }
  p {
    font-family: $sourcesanspro-font-stack;
    font-size: 1.5em;
    font-weight: 700;
    padding: 0.5em;
    position: relative;
    top: 15%;
    text-align: left;
    background-color: $bubble-bg;
    //@include box-shadow(10px 10px 0 1px rgba(255,255,255,0.8));
    //border: 8px solid #666;
    //@include border-radius(7px);
    //@include box-shadow(rgba(150,150,150,.3) 0 0 100px 0 inset);
    &:after {
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      right: -2em;
      margin-top: 0.4%;
      border: 1em solid;
      border-color: transparent transparent $bubble-bg $bubble-bg;
    }
  }
}

#about .col2 img {
  max-height: 18em;
  width: auto;
  //margin-right: gutter(24);
  position: absolute;
  bottom: 0;
  right: 0;
}

#work {
}

#contact {
}
footer {
}