// Add custom font-face declirations:
  // See correct font declaration usage: http://goo.gl/ld2zSu
  // In order to refer to a specific style of the font in your stylesheets as e.g. "font-style: italic;", you
  // may add a couple of @font-face includes containing the respective font files for each style and specying
  // respective the $style parameter. Order of the includes matters, and it is: normal, bold, italic, bold+italic.
  // @include font-face($name, $font-files, $eot, $weight, $style)

//Mixins

  @mixin font-faces ($family, $faces, $prefix: null, $path: null) {
    @each $face in $faces {
      $name: nth($face, 1);
      @if $prefix {
        $name: '#{$prefix}#{$name}';
      }
      $weight: false;
      $style: false;
      @if length($face) > 1 {
        $weight: nth($face, 2);
      }
      @if length($face) > 2 {
        $style: nth($face, 3);
      }
      @include font-face($family, $name, $path, $weight, $style);
    }
  }

  @mixin font-face ($family, $name, $path: null, $weight: null, $style: null) {
    $url: $name;
    @if $path {
      $url: '#{$path}/#{$name}';
    }
    @font-face {
        font-family: $family;
        @if $weight {
          font-weight: $weight;
        }
        @if $style {
          font-style:  $style;
        }
        src: url('#{$url}.eot');                                      // IE9 Compat Modes
        src: url('#{$url}.eot?#iefix')   format('embedded-opentype'), // IE6-IE8
             url('#{$url}.woff')         format('woff'),              // Modern Browsers
             url('#{$url}.ttf')          format('truetype'),          // Safari, Android, iOS
             url('#{$url}.svg##{$name}') format('svg');               // Legacy iOS
    }
  }

// Load Fonts & Create Stacks:
  @include font-faces('Gotham', (
    'thin'             100,
    'thinitalic'       100 italic,
    'extralight'       200,
    'extralightitalic' 200 italic,
    'light'            300,
    'lightitalic'      300 italic,
    'book'             400,
    'bookitalic'       400 italic,
    'medium'           600,
    'mediumitalic'     600 italic,
    'bold'             700,
    'bolditalic'       700 italic,
    'black'            800,
    'blackitalic'      800 italic,
    'ultra'            900,
    'ultraitalic'      900 italic,
  ), 'gotham-', '../font/gotham');

  @include font-faces('SourceSansPro', (
    'extralight'       200,
    'extralightitalic' 200 italic,
    'light'            300,
    'lightitalic'      300 italic,
    'regular'          400,
    'regularitalic'    400 italic,
    'semibold'         600,
    'semibolditalic'   600 italic,
    'bold'             700,
    'bolditalic'       700 italic,
    'black'            900,
    'blackitalic'      900 italic,
  ), 'sourcesanspro-', '../font/source-sans-pro');

  @include font-faces('FontCustom', (
    'regular'          400,
  ), 'fontcustom-', '../font/font-custom');


// Make Font Stacks
  $gotham-font-stack: "Gotham", "Century Gothic", "Tw Cen MT", Futura, "URW Gothic L", Arial, sans-serif;
  $sourcesanspro-font-stack: "SourceSansPro", "Helvetica Neue", Helvetica, Arial, sans-serif;

