// GRIDS BY SUSY http://susy.oddbird.net/
// TUT: http://code.tutsplus.com/tutorials/responsive-grids-with-susy--net-27893

@import
  "defaults";

/* - - - local partials assembly - - - - - - - - - - - - - - - - - - - -
 * FILE: _grids.scss
 */

 /* Setting up the Magic Grid */
 //

 $susy: (
   columns: 12,
   gutters: 1/4,
   math: fluid,
   output: float,
   gutter-position: after,
   column-width: 4em,
 );

// Setting z-indexes
$z-nav: 6;
$z-header: 5;
$z-about: 4;
$z-work: 3;
$z-contact: 2;
$z-footer: 1;

 //Making Mixins
 @mixin offset ($margin) {
  border-top: 3em solid transparent;
  margin-top: -$margin;
 }

 // Necessary for loading on right place when page is called from hash (http://goo.gl/2rNgyB)
 // overrides "offset" function in waypoints.js
 $section-top-offset: 3em;
 $row-top-offset: 3em;
 $top-border-height: 0.4em;


body {
  //@include container;
  margin-top: $section-top-offset + $top-border-height;
}

.contain{
  @include container;
  height: inherit;
  position: relative;
  @include offset($row-top-offset);
}

header {
  z-index: $z-header;
  position: fixed; // keep on top of window
  top: 0;
  left: 0;
  right: 0;
  @include container(100%);
  @include full;
  h1 {
  width: auto;
  clear: both;
  //@include span(last 8);
  //  @media (min-width: 900px) {
  //    @include span(last 8);
  //  }
  //  @media (max-width: 900px) {
  //    @include span(5.5);
  //  }
  }
}

nav {
  z-index: $z-nav;
  position: relative;
  //max-width: 22.1em; //moved ot mediaqueries.css
  //width: span(3);
  margin: 0 auto;
  ul {
  }
  //@include span(last 4 nest) {
    li {
      //@include span(isolate 1 of 4 0 no-gutters wide);
      @include span(no-gutters wide);
    }
}

section {
  @include container(100%);
  @include full;
  @include offset($section-top-offset);
}

#about {
  z-index: $z-about;
  position: relative;
  @include span(12);
}

#work {
  z-index: $z-work;
  position: relative;
}

#contact {
  z-index: $z-contact;
  position: relative;
}

footer {
  @include span (12);
  margin-top: 0.4em; //to compensate for $top-border-height: 0.4em;
  z-index: $z-footer;
  position: relative;
}






/* Setting the Breakpoints */
$breakpoint-to-ems: true;


// assume min-width (by default) if only a number
$breakpoint-medium-width-em: 30em;
// set min-width/max-width if both values are numbers
$breakpoint-medium-not-wide: 500px 700px;
// set min/max of feature if there are two numbers
$breakpoint-medium-height: height 300px 700px;
// if one value is a string, assume a feature/value pair
$breakpoint-kind-of-wide: min-width 700px;
$breakpoint-not-too-wide: max-width 700px;
// for multidimensional lists, assume each item is a feature value pair
$breakpoint-wide-portrait: (max-width 700px) (orientation portrait);
// handle one-sided features (ie. monochrome)
$breakpoint-wide-portrait-mono: (max-width 700px) (orientation portrait) (monochrome);
$breakpoint-mono: monochrome;
$breakpoint-hi-rez: min-resolution 1.5dppx;