// GRIDS BY SUSY http://susy.oddbird.net/
// TUT: http://code.tutsplus.com/tutorials/responsive-grids-with-susy--net-27893

@import
  "defaults";

/* - - - local partials assembly - - - - - - - - - - - - - - - - - - - -
 * FILE: _grids.scss
 */

 /* Setting up the Magic Grid */
 //

 $susy: (
   columns: 12,
   gutters: 1/4,
   math: fluid,
   output: float,
   gutter-position: after,
   column-width: 4em,
 );

 // Making Mixins
 //@mixin offset ($margin) { // Moved to _mediaqueries.scss
 // border-top: 3em solid transparent;
 // margin-top: -$margin;
 //}

// !!!! IMPORTANT!!!!
$totalSections: 8; //The TOTAL NUMBER OF CURRENT TOP-LEVEL SECTIONS (Change if more added!!!)

@mixin sectionSettings ($n) { //n is the current section's # (0 for nav, cascading to footer)
  z-index: $totalSections - $n;
  position: relative;
}

 // Necessary for loading on right place when page is called from hash (http://goo.gl/2rNgyB)
 // overrides "offset" function in waypoints.js
 $section-top-offset: 3em;
 $row-top-offset: 3em;
 $top-border-height: 0.4em;


//body {
//  //@include container;
//  margin-top: $section-top-offset + $top-border-height; //moved to _mediaqueries.scss
//}

.contain{
  @include container;
  height: inherit;
  position: relative;
  //@include offset($row-top-offset); //moved to _mediaqueries.scss
}

nav {
  @include sectionSettings(0);
  //max-width: 22.1em; //moved ot mediaqueries.css
  //width: span(3);
  margin: 0 auto;
  ul {
  }
  //@include span(last 4 nest) {
    li {
      //@include span(isolate 1 of 4 0 no-gutters wide);
      @include span(no-gutters wide);
    }
}

header {
  z-index: ($totalSections - 1);
  position: fixed; // keep on top of window
  //@include sectionSettings(1); //Not used here because of 'position: fixed'.
  top: 0;
  left: 0;
  right: 0;
  @include container(100%);
  @include full;
  h1 {
  width: auto;
  clear: both;
  //@include span(last 8);
  //  @media (min-width: 900px) {
  //    @include span(last 8);
  //  }
  //  @media (max-width: 900px) {
  //    @include span(5.5);
  //  }
  }
}

section {
  @include container(100%);
  @include full;
  //@include offset($section-top-offset);
}

#about {
  @include sectionSettings(2);
  @include span(12);
}

#slug {
  @include sectionSettings(3);
  @include span(12);
}

#skills {
  @include sectionSettings(4);
  @include span(12);
}

#work {
  @include sectionSettings(5);
}

#contact {
  @include sectionSettings(6);
}

footer {
  @include span (12);
  //margin-top: 0.4em; //to compensate for $top-border-height: 0.4em;
  @include sectionSettings(7);
}






/* Setting the Breakpoints */
$breakpoint-to-ems: true;


// assume min-width (by default) if only a number
$breakpoint-medium-width-em: 30em;
// set min-width/max-width if both values are numbers
$breakpoint-medium-not-wide: 500px 700px;
// set min/max of feature if there are two numbers
$breakpoint-medium-height: height 300px 700px;
// if one value is a string, assume a feature/value pair
$breakpoint-kind-of-wide: min-width 700px;
$breakpoint-not-too-wide: max-width 700px;
// for multidimensional lists, assume each item is a feature value pair
$breakpoint-wide-portrait: (max-width 700px) (orientation portrait);
// handle one-sided features (ie. monochrome)
$breakpoint-wide-portrait-mono: (max-width 700px) (orientation portrait) (monochrome);
$breakpoint-mono: monochrome;
$breakpoint-hi-rez: min-resolution 1.5dppx;