
 @import "defaults";

/* - - - local partials assembly - - - - - - - - - - - - - - - - - - - -
 * FILE: _mediaqueries.scss
 */

 $starting-width: 19.375em; //a good place to start with 30 revolutions... any window below 19.375em will fail but that would be a postage stamp anyway.
 $header-height: 3.3em; //3.321 was calculated as the starting point at a width of 19.375em and then finagled so that everything checked out in browser

@for $i from 0 through 30 { // 19.375em == 0 . // 30 is where the header stops needing to get any larger
  @media (min-width: 19.375em + ($i * 1.875em)) {
    body {
      margin-top: ($header-height + ($i * 0.114em)) + 0.4em; //0.4em is the top border height //0.114 was calculated as the mean height increase as the text size increases. 
    }
    .contain {
      border-top: ($header-height + ($i * 0.114em)) solid transparent; //offset mixin
      margin-top: -($header-height + ($i * 0.114em)); //offset mixin
    }
    section {
      border-top: ($header-height + ($i * 0.114em)) solid #eee; //offset mixin //#eee to make placeholder for nav/header
      margin-top: -($header-height + ($i * 0.114em)); //offset mixin
    }
    nav {
      width: $starting-width + ($i / 1 ); //to float center //+1.5em because "CONTACT" is too wide... pushes nav slightly off screen though.
      //width: 21em + ($i / 1 );
      // will be overridden at 6.5em (see 'overrides' below)
      li {
      width: (4.7em + ($i / 1) / 4) + .1em; //4 is how many nav items //+1.5em because "CONTACT" is too wide... pushes nav slightly off screen though.
      //width: ((21em + ($i / 1)) / 4);
      // will be overridden at 6.5em (see 'overrides' below)
      }
    }
    header h1 {
      font-size: 1.4em + ($i / 10);
      //@include transition(font-size 0.2s linear); // Makes ugly fly-in effect when loading
    }
    #about img {
      margin-top: .3em + ($i / 50);
      width: 8em + ($i / 6);
    // @include transition(width 0.2s linear, margin-top 0.2s linear);
    }
  }
}

//@media (min-width: 19em) and (max-width: 25em) {
//  nav {
//  margin-left: -(1.6em / (4 * 2)); //trying to compensate for making the width 1.5em too large per item which is noticible on smaller screens
//  }
//}

//Font Breakpoint
@media (max-width: 60.188em) {
  #about p:nth-of-type(1) {
    font-size: 1.6em;
  }
  #about p:nth-of-type(2) {
    font-size: 1.05em;
    i {
      font-size: 1.1em;
    }
  }
  #about .tagline span {
    font-size: 1em;
    //color: rgb(10,48,70);
    @include text-shadow(0px 0px 0 rgb(150,150,150), -0.2px 0.2px 0 white, -0.5px 0.5px 0 white, -1px 1px 0 white, -1.5px 1.5px 0 white, -1px 1px 0 white);
  }
}


// Setting Up Box Grid!

@mixin rowMachine($numPerRow, $boxMargin) {
  $square: ((99% - (($numPerRow) * $boxMargin)) / $numPerRow);
  width: $square;
  margin: ($boxMargin / 2);
  &:nth-child(n) {
    margin: ($boxMargin / 2);
//    &:hover {
//      width: $square + 1;
//      margin: ($boxMargin / 2) - 0.5;
//      //@include transition(margin 0.1s ease, width 0.1s ease); //makes rows jiggle while calculating
//    }
  }
  &:nth-child(#{$numPerRow}n) {
    margin-right: auto;
//    &:hover {
//      width: $square + 1;
//      margin: ($boxMargin / 2) - 0.6;
//    }
  }
}

//Box Sizes
@media (min-width: 20em) { // 1 up
  #work {
    padding: 2% 8%; //half of below "rowMachine" padding //coencides with the padding of the boxes below
    .box {
    @include rowMachine(1, 0%);
    &:nth-child(1n) {
      margin-left: auto;
      margin-top: 10%;
      margin-bottom: 10%;
//      &:hover {
//        margin-top: 9.5%;
//        margin-bottom: 9.5%;
//        }
      }
    }
  }
}
@media (max-width: 27.438em) { //make it float center when only 1 in line
  display: block;
}
@media (min-width: 27.5em) { //2 up //coencides with padding above
  #work {
    .box {
      @include rowMachine(2, 5.5%);
    }
  }
}
@media (min-width: 43.750em) { //2 up, larger screen
  #work {
    padding: 1% 5%;
  }
}
@media (min-width: 53.125em) { //3 up
  #work {
    padding: 1.5% 4%;
    .box {
      @include rowMachine(3, 4%);
    }
  }
}
@media (min-width: 75em) { //4 up
  #work {
    padding: 1.5% 4%;
    .box {
      @include rowMachine(4, 3.5%);
    }
  }
}
@media (min-width: 100em) { // 5 up
  #work {
    padding: 1.5% 4%;
    .box {
      @include rowMachine(5, 2.5%)
    }
  }
}


//OVERRIDES:
nav {
  max-width: 6.5em * 4; //4 is how many nav items //6.5em is just a good looking width to cap it at. overrides media query
  li {
    max-width: 6.5em; //6.5em is just a good looking width to cap it at
  }
}

// Header adjust override:
// header h1.compact {
//   font-size: 3.2em;
//   @include transition(font-size 0.2s linear);
//}