
 @import "defaults";

/* - - - local partials assembly - - - - - - - - - - - - - - - - - - - -
 * FILE: _mediaqueries.scss
 */

@media (min-width: 0px) and (max-width: 309px) {

}

@for $i from 0 through 30 {
  @media (min-width: 310px + ($i * 30px)) {
    header h1 {
      font-size: 1.4em + ($i / 10);
      @include transition(font-size 0.2s linear);
    }
  #about img {
    margin-top: .5em + ($i / 10);
    width: 8em + ($i / 6);
    }
  }
}