
 @import "defaults";

/* - - - local partials assembly - - - - - - - - - - - - - - - - - - - -
 * FILE: _mediaqueries.scss
 */

 $starting-width: 19.375em; //a good place to start with 30 revolutions... any window below 19.375em will fail but that would be a postage stamp anyway.
 $header-height: 4em; //3.321 was calculated as the starting point at a width of 19.375em and then finagled so that everything checked out in browser

@for $i from 0 through 25 { // 19.375em == 0 . // 30 is where the header stops needing to get any larger
  @media (min-width: 19.375em + ($i * 1.875em)) {
    //body {
    //  margin-top: ($header-height + ($i * 0.114em) + 0.4em); //0.4em is the top border height //0.114 was calculated as the mean height increase as the text size increases.
    //}
    //.contain {
    //  border-top: ($header-height + ($i * 0.114em)) solid transparent; //offset mixin
    //  margin-top: -($header-height + ($i * 0.114em)); //offset mixin
    //}
    section, #work article {
      border-top: ($header-height + ($i * 0.114em)) solid #eee; // 0.4 em is the border top //offset mixin //#eee to make placeholder for nav/header
      margin-top: -($header-height + ($i * 0.114em) + 0.4em); //offset mixin
    }
    section:nth-of-type(1) {
      margin-top: 0;
    }
    #work article {
      border-color: transparent;
    }
    header nav {
      width: $starting-width + ($i / 1 ); //to float center //+1.5em because "CONTACT" is too wide... pushes nav slightly off screen though.
      //width: 21em + ($i / 1 );
      // will be overridden at 6.5em (see 'overrides' below)
      a {
      width: (4.7em + ($i / 1) / 4) + .1em; //4 is how many nav items //+1.5em because "CONTACT" is too wide... pushes nav slightly off screen though.
      //width: ((21em + ($i / 1)) / 4);
      // will be overridden at 6.5em (see 'overrides' below)
      }
    }
    header h1 {
      font-size: 1.4em + ($i / 10);
      //@include transition(font-size 0.2s linear); // Makes ugly fly-in effect when loading
    }
    #about img {
      margin-top: .3em + ($i / 50);
      width: 8em + ($i / 6);
    // @include transition(width 0.2s linear, margin-top 0.2s linear);
    }
  }
}

//@media (min-width: 19em) and (max-width: 25em) {
//  nav {
//  margin-left: -(1.6em / (4 * 2)); //trying to compensate for making the width 1.5em too large per item which is noticible on smaller screens
//  }
//}

//Font Breakpoint

//@media (max-width: 64.1em) {
//  #about p {
//    margin: 0.8em 1em;
//  }
//}

@media (max-width: 47.9em) {
  h1 {
    text-align: center;
    line-height: 1.1
  }
  #about p {
    font-size: 1.6em;
  }
  #about .tagline span {
    font-size: 1.1em;
    //color: rgb(10,48,70);
    //@include text-shadow(0px 0px 0 rgb(150,150,150), -0.2px 0.2px 0 white, -0.5px 0.5px 0 white, -1px 1px 0 white, -1.5px 1.5px 0 white, -1px 1px 0 white);
  }
  #slug {
  padding-top: 1em;
  padding-bottom: 1em;
    p {
      font-size: 1.05em;
      &:nth-of-type(1), i {
      font-size: 1.1em;
      }
      &:nth-of-type(2) {
        font-size: 1.5em;
      }
    }
  }
  #work {
    p {
      font-size: 1.1em;
      line-height: 1.4;
    }
    ul > li h3 {
      font-size: 1.25em;
    }
  }
  #contact {
    h3 {
      line-height: 1.1;
    }
  }
  #hero h1 {
    font-size: 3.5em;
  }
}

@media (max-width: 30em) {
  #slides .slidesjs-navigation {
    font-size: 1em;
  }
  #skills {
    img.article {
      &:nth-of-type(odd), &:nth-of-type(even) {
        float: none;
        margin: 0;
        width: 100%;
      }
    }
    p {
      font-size: 1.2em;
      line-height: 1.25;
      &.alignRight {
      text-align: left;
      }
    }
    ul > li h3 {
      font-size: 1.2em;
      line-height: 1.1;
    }
  }
  #hero {
    background-attachment: initial;
    h1 {
      font-size: 3em;
    }
  }
}




//Section padding

   //////////////
  // BOX GRID //
 //////////////

@mixin rowMachine($numPerRow, $boxMargin) {
  $square: ((99% - (($numPerRow) * $boxMargin)) / $numPerRow);
  width: $square;
  margin: ($boxMargin / 2);
  &:nth-of-type(n) {
    margin: ($boxMargin / 2);
//    &:hover {
//      width: $square + 1;
//      margin: ($boxMargin / 2) - 0.5;
//      //@include transition(margin 0.1s ease, width 0.1s ease); //makes rows jiggle while calculating
//    }
  }
  &:nth-of-type(#{$numPerRow}n) {
    margin-right: auto;
//    &:hover {
//      width: $square + 1;
//      margin: ($boxMargin / 2) - 0.6;
//    }
  }
}

//Box Sizes
@media (min-width: 20em) { // 1 up
  .index #work div {
    padding: 0 8% 2%; //half of below "rowMachine" padding //coencides with the padding of the boxes below
    figure {
    @include rowMachine(1, 0%);
    &:nth-child(1n) {
      margin-left: auto;
      margin-top: 5%;
      margin-bottom: 5%;
//      &:hover {
//        margin-top: 9.5%;
//        margin-bottom: 9.5%;
//        }
      }
    figcaption {
        font-size: 1.5em;
      }
    }
  }
}
@media (max-width: 27.438em) { //make it float center when only 1 in line
  display: block;
}
@media (min-width: 27.5em) { //2 up //coencides with padding above
  .index #work div {
    figure {
      @include rowMachine(2, 4.5%);
      figcaption {
        font-size: 1.2em;
      }
    }
  }
}
@media (min-width: 43.750em) { //3 up
  .index #work div {
    padding: 0 4% 2%;
    figure {
      @include rowMachine(3, 3%);
      figcaption {
        font-size: 1.5em;
      }
    }
  }
}
@media (min-width: 53.125em) { //4 up
  .index #work div {
    padding: 0 3% 2%;
    figure {
      @include rowMachine(4, 2.5%);
    }
  }
}
@media (min-width: 75em) { //5 up
  .index #work div {
    padding: 0 3% 2%;
    figure {
      @include rowMachine(5, 1.5%);
    }
  }
}
@media (min-width: 100em) { // 5 up, center
  .index #work div {
    padding: 0 8% 2%;
    figure {
      @include rowMachine(5, 1.5%)
    }
  }
}



// Header adjust override:
// header h1.compact {
//   font-size: 3.2em;
//   @include transition(font-size 0.2s linear);
//}