
 @import "defaults";

/* - - - local partials assembly - - - - - - - - - - - - - - - - - - - -
 * FILE: _mediaqueries.scss
 */

 $header-height: 3.3em; //3.321 was calculated as the starting point at a width of 19.375em

@for $i from 0 through 30 { // 19.375em == 0 . // 30 is where the header stops needing to get any larger
  @media (min-width: 19.375em + ($i * 1.875em)) {
    body {
      margin-top: ($header-height + ($i * 0.114em)) + 0.4em; //0.4em is the top border height //0.114 was calculated as the mean height increase as the text size increases. 
    }
    .contain {
      border-top: ($header-height + ($i * 0.114em)) solid transparent; //offset mixin
      margin-top: -($header-height + ($i * 0.114em)); //offset mixin
    }
    section {
      border-top: ($header-height + ($i * 0.114em)) solid #eee; //offset mixin //#eee to make placeholder for nav/header
      margin-top: -($header-height + ($i * 0.114em)); //offset mixin
    }
    nav {
      width: 19.375em + ($i / 1 ) + 1.6em; //+1.5em because "CONTACT" is too wide... pushes nav slightly off screen though.
      //width: 21em + ($i / 1 );
      li {
      width: ((19.375em + ($i / 1) + 1.6em) / 4); //4 is how many nav items //+1.5em because "CONTACT" is too wide... pushes nav slightly off screen though.
      //width: ((21em + ($i / 1)) / 4);
      }
    }
    header h1 {
      font-size: 1.4em + ($i / 10);
      //@include transition(font-size 0.2s linear); // Makes ugly fly-in when loading
    }
    #about img {
      margin-top: .3em + ($i / 50);
      width: 8em + ($i / 6);
    // @include transition(width 0.2s linear, margin-top 0.2s linear);
    }
  }
}

@media (min-width: 19em) and (max-width: 25em) {
  nav {
  margin-left: -(1.6em / (4 * 2)); //trying to compensate for making the width 1.5em too large per item which is noticible on smaller screens
  }
}

@media (max-width: 60.188em) {
  #about p:nth-of-type(1) {
    font-size: 1.6em;
  }
  #about .tagline span {
    font-size: 1em;
    color: rgb(10,48,70);
    @include text-shadow(0px 0px 0 rgb(150,150,150), -0.2px 0.2px 0 white, -0.5px 0.5px 0 white, -1px 1px 0 white, -1.5px 1.5px 0 white, -1px 1px 0 white);
  }
}


//OVERRIDES:
nav {
  max-width: 6.5em * 4; //4 is how many nav items //6.5em is just a good looking width to cap it at. overrides media query
  li {
    max-width: 6.5em; //6.5em is just a good looking width to cap it at
  }
}

// Header adjust override:
// header h1.compact {
//   font-size: 3.2em;
//   @include transition(font-size 0.2s linear);
//}