#slides {
  display: none;
  font-family: sans-serif;
}

#slides .slidesjs-navigation {
  margin:3px 0.5em 0;
  float: right;
  font-size: 1.2em;
}

#slides .slidesjs-previous {
  margin: 0 0.5em;
  float: left;
}

#slides .slidesjs-next {
  margin: 0 0.5em;
  float: left;
}

.slidesjs-pagination {
  margin: 6px 0 0;
  float: right;
  list-style: none;
}

.slidesjs-pagination li {
  float: left;
  margin: 0 1px;
}

.slidesjs-pagination li a {
  display: block;
  width: 13px;
  height: 0;
  padding-top: 13px;
  background-image: url(../img/pagination.png);
  background-position: 0 0;
  float: left;
  overflow: hidden;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
  background-position: 0 -13px;
}

.slidesjs-pagination li a:hover {
  background-position: 0 -26px;
}

#slides a:link,
#slides a:visited {
  color: #eeeeee;
  text-shadow: none;
  border-bottom: none;
  font-weight: 300;
  text-transform: uppercase;
}

#slides a:hover,
#slides a:active {
  color: #9e2020;
  text-shadow: none;
  border-bottom: none;
}

.navbar {
  overflow: hidden;
}

.slideContain {
  margin: 0 auto;
  max-width: 65em;
  padding: 0;
}

.caption {
  z-index:500;
  display:block!important;
  position:absolute;
  bottom:0;
  left:0;
  height:30px;
  padding:5px 20px 0 20px;
  background:#000;
  background:rgba(0,0,0,.5);
  width:540px;
  font-size:1.3em;
  line-height:1.33;
  color:#fff;
  border-top:1px solid #000;
  text-shadow:none;
}