/* Work Pages Styles */

$heroHeight: 520px;

#hero {
  color: rgb(255,255,255);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  text-align: center;
  height: $heroHeight;
  padding: 0;
  overflow: hidden;
  display: inline-table;
  .overlay {
    width: 100%;
    height: $heroHeight;
    position: absolute;
    left: 0;
    opacity: 0.60;
    z-index: 0;
  }
  h1 {
    @include textStyle(rgba(255,255,255,0.7), -1px);
    font-weight: 800;
    font-size: 4.5em;
    letter-spacing: -.025em;
    z-index: 1;
    line-height: 1.1;
  }
  .tools {
    color: rgba(255,255,255,0.8);
    font-size: 1em;
    margin: 2em 0;
    font-style: italic;
    display: block;
  }
  time {
    font-style: normal;
    line-height: 2;
    border: 1px solid rgb(200,200,200);
    //border-bottom: 1px solid rgb(200,200,200);
    padding: 0.15em 0.4em 0.22em;
  }
  p {
    color: rgba(255,255,255,0.8);
    font-size: 1.3rem;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.015em;
    line-height: 1.3;
  }
}

#imac {
  width: 100%;
  max-width: 59em;
  margin: 2em auto 0;
  text-align: center;
  display: block;
  position: relative;
  .overlay {
    position: relative;
    z-index: 9999;
  }

  .screen {
    position: absolute;
    top: 0;
  }
}

body.work {

  header {
    border-top: 0.4em rgb(0, 140, 186) solid; //Forces border to stay blue
  }

  article .contain {
    margin-top: 2em;
  }

  nav#minipagenav {
    //background: rgb(75,75,75);
    width: 100%;
    clear: both;
    display: block;
    position: relative;
    height: auto;
    margin: 3em 0 0;
    border: 0.5em solid #eeeeee;
    display: inline-block;
    h3 {
      padding:0; margin: 0;
    }

    div {
      width: 100%;
      white-space: nowrap;
      overflow-x: scroll;
      overflow-y: hidden;
      height: auto;
      padding: 0 0.2em;
      text-align: center;
    }

    figure {
      width: 8em;
      margin: 0.5em 0.2em;

      figcaption {
        bottom: 15%;
        @include opacity(0);
        background-color: rgba(0, 0, 0, 0.67);
      }

      a {
        @include box-shadow(none);
        border: 0px solid rgb(95, 95, 95);
          &:hover {
          figcaption {
            @include opacity(1);
            @include transition(opacity 0.4s ease-out);
            @include transform(translate(0, 0));
          }
        }
      }
      &.currentPage {
        @include opacity(0.5);
      }
    }
  }
}