/* Work Pages Styles */

$heroHeight: 520px;

#hero {
  color: rgb(255,255,255);
  background-position: center center;
  width: 100%;
  background-size: cover;
  text-align: center;
  height: $heroHeight;
  padding: 0;
  overflow: hidden;
  display: inline-table;
  .overlay {
    width: 100%;
    height: $heroHeight;
    position: absolute;
    left: 0;
    opacity: 0.60;
    z-index: 0;
  }
  h1 {
    @include textStyle(rgb(255,255,255), -2px);
    font-weight: 800;
    font-size: 4.5em;
    letter-spacing: -.025em;
    z-index: 1;
    line-height: 1.1;
  }
  .tools {
    font-style: italic;
  }
  p {
    margin-top: 2em;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.015em;
    line-height: 1.2;
  }
}


body.work {

  header {
    border-top: 0.4em rgb(0, 140, 186) solid; //Forces border to stay blue
  }

  article .contain {
    margin-top: 2em;
  }

  nav#minipagenav {
    background: rgb(75,75,75);
    width: 100%;
    clear: both;
    display: block;
    position: relative;
    height: auto;
    margin: 3em 0 0;
    border: 0.5em solid rgb(75,75,75);
    display: inline-block;

    div {
      width: 100%;
      white-space: nowrap;
      overflow-x: scroll;
      overflow-y: hidden;
      height: auto;
      padding: 0 0.2em;
      text-align: center;
    }

    figure {
      width: 8em;
      margin: 0.5em 0.2em;

      figcaption {
        bottom: 15%;
        @include opacity(0);
        background-color: rgba(0, 0, 0, 0.67);
      }

      a {
        @include box-shadow(none);
        border: 0px solid rgb(95, 95, 95);
          &:hover {
          figcaption {
            @include opacity(1);
            @include transition(opacity 0.4s ease-out);
            @include transform(translate(0, 0));
          }
        }
      }
      &.currentPage {
        @include opacity(0.5);
      }
    }
  }
}